/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 144, small/*.png */
.small-sprite, .small-bigdata, .small-check, .small-hardbasic, .small-hardext, .small-investigacao, .small-menu, .small-menubranco, .small-menuvermelho, .small-redesocial, .small-setaativa, .small-setainativa, .small-softbasic, .small-softopc, .mobile-head .menu-link, header .mobile-close, .page-segmento .solutions .arrow-nav .prev, .page-segmento .solutions .arrow-nav .next, .page-segmento .solutions .arrow-nav .prev.active, .page-segmento .solutions .arrow-nav .next.active, .page-product ul.especificacoes li .check, .page-segmento ul.especificacoes li .check, .page-siab .perfect .text ul li .icon.bigdata, .page-siab .perfect .text ul li .icon.redesocial, .page-siab .perfect .text ul li .icon.investigacao, .page-siab .configuration .infos .info .icon.softbasic, .page-siab .configuration .infos .info .icon.softopc, .page-siab .configuration .infos .info .icon.hardbasic, .page-siab .configuration .infos .info .icon.hardext {
  background-image: url('../img/small-sa70eba649f.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-bigdata {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-check {
  background-position: 0 -48px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-hardbasic {
  background-position: 0 -96px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-hardext {
  background-position: 0 -149px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-investigacao {
  background-position: 0 -202px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menu {
  background-position: 0 -253px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menubranco {
  background-position: 0 -293px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menuvermelho {
  background-position: 0 -333px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-redesocial {
  background-position: 0 -373px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-setaativa {
  background-position: 0 -421px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-setainativa {
  background-position: 0 -456px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-softbasic {
  background-position: 0 -491px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-softopc {
  background-position: 0 -540px;
}

/* line 96, little/*.png */
.little-sprite, .little-arrow-grey, .little-arrow-white, .little-back, .little-fone, .little-mail, .little-pin, .little-seta, footer .quarto .info .icon i.icon-tel, footer .quarto .info .icon i.icon-pin, footer .quarto i.mail, .title-banner .back-button i.back, .article-banner .back-button i.back, .title-banner .seta .circle span, .article-banner .seta .circle span, .siab-banner .seta .circle span, section.banner .seta span, ul.produtos li a:hover .seta i.icon-arrow, ul.produtos li .seta i.icon-arrow {
  background-image: url('../img/little-s120f950a9c.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-arrow-grey {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-arrow-white {
  background-position: 0 -24px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-back {
  background-position: 0 -48px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-fone {
  background-position: 0 -64px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-mail {
  background-position: 0 -90px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-pin {
  background-position: 0 -111px;
}

/* line 84, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.little-seta {
  background-position: 0 -139px;
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on April 4, 2016 */
/* line 13, ../sass/utils/_fonts.sass */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 2, ../sass/utils/_base.sass */
html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/utils/_base.sass */
.container {
  margin: 0 auto;
}

/* line 11, ../sass/utils/_base.sass */
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
}

/* line 14, ../sass/utils/_base.sass */
a {
  text-decoration: none;
}

/* line 17, ../sass/utils/_base.sass */
p {
  line-height: 1.4;
}

/* line 20, ../sass/utils/_base.sass */
a.btn {
  background: #a41c20;
  color: white;
  border: 3px solid #a41c20;
  font-size: 15px;
  padding: 15px;
  display: block;
  text-align: center;
  max-width: 250px;
  width: 70%;
  margin: 40px auto;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  font-weight: 700;
  display: block;
}
/* line 35, ../sass/utils/_base.sass */
a.btn:hover {
  background: white;
  color: #a41c20;
}

/* line 39, ../sass/utils/_base.sass */
.fixheader {
  position: fixed;
  top: -100vh;
  width: 100%;
  z-index: 9999999;
  display: block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* line 47, ../sass/utils/_base.sass */
.wrapper {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 999999;
}

/* line 54, ../sass/utils/_base.sass */
.mobile-head {
  height: 60px;
  width: 100%;
  background: #fff;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
}
/* line 60, ../sass/utils/_base.sass */
.mobile-head .menu-link {
  background-position: 0 -333px;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  float: right;
  margin: 13px 0px;
}
/* line 68, ../sass/utils/_base.sass */
.mobile-head img {
  max-height: 60px;
}
/* line 70, ../sass/utils/_base.sass */
.mobile-head .mobile-logo {
  float: left;
}

@media (max-width: 1124px) {
  /* line 76, ../sass/utils/_base.sass */
  .wrapper {
    display: block;
  }

  /* line 84, ../sass/utils/_base.sass */
  body {
    padding-top: 63px;
  }
}
/* line 88, ../sass/utils/_base.sass */
header {
  background: #f5f5f4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 9px 1px rgba(0, 0, 0, 0.5);
  height: 78px;
}
/* line 97, ../sass/utils/_base.sass */
header .container {
  overflow: visible;
}
/* line 102, ../sass/utils/_base.sass */
header .mobile-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  background-position: 0 -253px;
  width: 36px;
  height: 30px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 114, ../sass/utils/_base.sass */
header .logo {
  float: left;
  width: 20%;
}
/* line 118, ../sass/utils/_base.sass */
header .logo img {
  width: 100%;
  min-width: 121px;
  max-width: 242px;
  text-align: center;
  max-height: 100%;
}
/* line 125, ../sass/utils/_base.sass */
header .hLogo {
  width: 20%;
  display: inline-block;
  text-align: center;
}
/* line 130, ../sass/utils/_base.sass */
header .hLogo img {
  height: 100%;
}
/* line 134, ../sass/utils/_base.sass */
header nav {
  float: right;
  width: 79%;
  height: 100%;
}
/* line 139, ../sass/utils/_base.sass */
header nav div, header nav .menu-main_pt-container, header nav .menu-main_en-container {
  display: inline-block;
}
/* line 142, ../sass/utils/_base.sass */
header nav .languages {
  display: inline-block;
  background-color: #d9656a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD9656A', endColorstr='#FFA41D21');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5NjU2YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E0MWQyMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9656a), color-stop(100%, #a41d21));
  background-image: -moz-linear-gradient(top, #d9656a 0%, #a41d21 100%);
  background-image: -webkit-linear-gradient(top, #d9656a 0%, #a41d21 100%);
  background-image: linear-gradient(to bottom, #d9656a 0%, #a41d21 100%);
  position: relative;
  padding: 0 5px;
  max-height: 100%;
}
/* line 151, ../sass/utils/_base.sass */
header nav .languages:after {
  width: 100vw;
  height: 80px;
  right: -100vw;
  top: 0;
  background-color: #d9656a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD9656A', endColorstr='#FFA41D21');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5NjU2YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E0MWQyMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9656a), color-stop(100%, #a41d21));
  background-image: -moz-linear-gradient(top, #d9656a 0%, #a41d21 100%);
  background-image: -webkit-linear-gradient(top, #d9656a 0%, #a41d21 100%);
  background-image: linear-gradient(to bottom, #d9656a 0%, #a41d21 100%);
  position: absolute;
  content: "";
  display: block;
}
/* line 163, ../sass/utils/_base.sass */
header nav .languages div {
  display: inline-block;
  margin: 0px 5px;
  padding: 0px 5px;
  color: #f5f5f5;
  line-height: 80px;
  font-size: 10px;
}
/* line 171, ../sass/utils/_base.sass */
header nav .languages div span {
  padding: 2px 7px;
  border: 2px solid #f5f5f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 178, ../sass/utils/_base.sass */
header nav .languages div span:hover {
  background: white;
  color: #d9656a;
}
/* line 182, ../sass/utils/_base.sass */
header nav ul {
  display: inline-block;
}
/* line 184, ../sass/utils/_base.sass */
header nav ul li {
  display: inline-block;
  line-height: 60px;
  font-size: 13px;
  margin: 0 5px;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
/* line 192, ../sass/utils/_base.sass */
header nav ul li a {
  text-decoration: none;
  color: #4d4c4c;
  padding: 0px 10px;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: block;
  line-height: 78px;
  -moz-transition: ease-out 0.1s;
  -o-transition: ease-out 0.1s;
  -webkit-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
  background: #f5f5f4;
}
/* line 203, ../sass/utils/_base.sass */
header nav ul li a.active, header nav ul li a:hover {
  color: #fafafa;
  background-color: #d9656a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD9656A', endColorstr='#FFA41D21');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5NjU2YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E0MWQyMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9656a), color-stop(100%, #a41d21));
  background-image: -moz-linear-gradient(top, #d9656a 0%, #a41d21 100%);
  background-image: -webkit-linear-gradient(top, #d9656a 0%, #a41d21 100%);
  background-image: linear-gradient(to bottom, #d9656a 0%, #a41d21 100%);
}

@media (max-width: 1124px) {
  /* line 212, ../sass/utils/_base.sass */
  .preheader {
    display: none;
  }

  /* line 215, ../sass/utils/_base.sass */
  header {
    right: -100%;
    position: fixed;
    height: 100%;
    background: #cdcdce;
    z-index: 999999999;
    top: 0;
    width: 70%;
    padding-top: 20px;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
  /* line 226, ../sass/utils/_base.sass */
  header.aberto {
    right: 0;
  }
  /* line 229, ../sass/utils/_base.sass */
  header .mobile-close {
    display: block;
  }
  /* line 232, ../sass/utils/_base.sass */
  header .hLogo {
    display: none;
  }
  /* line 238, ../sass/utils/_base.sass */
  header .logo img {
    padding: 10px;
    width: 70%;
    margin: 30px;
  }
  /* line 244, ../sass/utils/_base.sass */
  header nav {
    display: block;
    width: 100%;
  }
  /* line 248, ../sass/utils/_base.sass */
  header nav .languages {
    display: block;
    background: none;
  }
  /* line 251, ../sass/utils/_base.sass */
  header nav .languages:after {
    display: none;
  }
  /* line 254, ../sass/utils/_base.sass */
  header nav .languages div {
    color: #454545;
  }
  /* line 257, ../sass/utils/_base.sass */
  header nav .languages div span {
    border: 2px solid #454545;
  }
  /* line 260, ../sass/utils/_base.sass */
  header nav .languages div span:hover {
    background: #454545;
    color: #f5f5f5;
  }
  /* line 264, ../sass/utils/_base.sass */
  header nav ul {
    margin-top: 30px;
    display: block;
  }
  /* line 267, ../sass/utils/_base.sass */
  header nav ul li {
    display: block;
    height: 50px;
    background: #cdcdce;
  }
  /* line 272, ../sass/utils/_base.sass */
  header nav ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 0px 5px;
    background: #cdcdce;
    margin: 0;
    line-height: 50px;
  }
  /* line 282, ../sass/utils/_base.sass */
  header nav ul li a:hover {
    background: #b3b3b5;
    color: #4d4c4c;
  }
}
/* line 287, ../sass/utils/_base.sass */
.container {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 295, ../sass/utils/_base.sass */
button {
  padding: 14px 20px;
  cursor: pointer;
  border: none;
  background: #738c1a;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
/* line 304, ../sass/utils/_base.sass */
button:hover span {
  margin-left: 10px;
}
/* line 307, ../sass/utils/_base.sass */
button span {
  color: #ffbc09;
  margin-left: 5px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

/* line 313, ../sass/utils/_base.sass */
a {
  cursor: pointer;
}

/* line 322, ../sass/utils/_base.sass */
.footer {
  position: relative;
  margin-top: 40px;
  padding-top: 15px;
}
/* line 327, ../sass/utils/_base.sass */
.footer .brasil {
  width: 25%;
  padding-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #dcdada;
  -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
  height: 10px;
  margin-left: 25%;
}

/* line 335, ../sass/utils/_base.sass */
footer {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlY2VhZWEiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RjZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(50%, #eceaea), color-stop(50%, #dcdada));
  background-image: -moz-linear-gradient(left, #eceaea 50%, #dcdada 50%);
  background-image: -webkit-linear-gradient(left, #eceaea 50%, #dcdada 50%);
  background-image: linear-gradient(to right, #eceaea 50%, #dcdada 50%);
  overflow: hidden;
  *zoom: 1;
  color: #454444;
}
/* line 340, ../sass/utils/_base.sass */
footer a {
  color: #454444;
}
/* line 343, ../sass/utils/_base.sass */
footer a p {
  font-size: 11px;
  margin-top: 23px;
  margin-bottom: -30px;
}
/* line 348, ../sass/utils/_base.sass */
footer a:hover {
  text-decoration: underline;
}
/* line 351, ../sass/utils/_base.sass */
footer .quarto {
  float: left;
  width: 25%;
  padding-top: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background: #eceaea;
  min-height: 230px;
}
/* line 363, ../sass/utils/_base.sass */
footer .quarto .info {
  display: block;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  position: relative;
  margin: 10px 0px;
}
/* line 369, ../sass/utils/_base.sass */
footer .quarto .info .icon {
  float: left;
  width: 20px;
}
/* line 373, ../sass/utils/_base.sass */
footer .quarto .info .icon i.icon-tel {
  background-position: 0 -64px;
  width: 15px;
  height: 16px;
  display: inline-block;
}
/* line 379, ../sass/utils/_base.sass */
footer .quarto .info .icon i.icon-pin {
  background-position: 0 -111px;
  width: 10px;
  height: 18px;
  display: inline-block;
}
/* line 385, ../sass/utils/_base.sass */
footer .quarto .info .text {
  float: right;
  width: calc(100% - 20px);
  text-align: left;
  font-size: 13px;
}
/* line 390, ../sass/utils/_base.sass */
footer .quarto .info .text p {
  margin: 5px 0px;
}
/* line 393, ../sass/utils/_base.sass */
footer .quarto .info .text p:first-of-type {
  margin: 0;
}
/* line 397, ../sass/utils/_base.sass */
footer .quarto h2 {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 18px;
}
/* line 402, ../sass/utils/_base.sass */
footer .quarto h2:after {
  content: "";
  height: 1px;
  width: 30%;
  margin: 20px 0 40px 0px;
  background: #666666;
  display: block;
}
/* line 410, ../sass/utils/_base.sass */
footer .quarto h2 span {
  font-size: 12px;
}
/* line 414, ../sass/utils/_base.sass */
footer .quarto:first-of-type:after {
  width: 100vw;
  height: 78px;
  right: -100vw;
  top: 0;
  background-color: #eceaea;
  position: absolute;
  content: "";
  display: block;
}
/* line 424, ../sass/utils/_base.sass */
footer .quarto:nth-of-type(2), footer .quarto:nth-of-type(3), footer .quarto:nth-of-type(4) {
  background: #dcdada;
  -moz-box-shadow: inset 5px -1px 7px -4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 5px -1px 7px -4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px -1px 7px -4px rgba(0, 0, 0, 0.3);
}
/* line 428, ../sass/utils/_base.sass */
footer .quarto:nth-of-type(2) {
  padding-top: 10px;
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
}
/* line 435, ../sass/utils/_base.sass */
footer .quarto ul li {
  font-size: 13px;
  text-align: left;
  margin: 10px 0px;
}
/* line 441, ../sass/utils/_base.sass */
footer .quarto i.mail {
  background-position: 0 -90px;
  width: 15px;
  height: 11px;
  display: inline-block;
}

/* line 450, ../sass/utils/_base.sass */
.copyright {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  background: #3e3e3e;
}
/* line 457, ../sass/utils/_base.sass */
.copyright a {
  text-decoration: underline;
  font-weight: 700;
  color: #fff;
}

/* line 461, ../sass/utils/_base.sass */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 9999999;
  top: 0;
  left: -100vw;
  overflow: hidden;
  *zoom: 1;
  background: rgba(255, 255, 255, 0.4);
  padding: 30px 0px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 475, ../sass/utils/_base.sass */
.modal .container {
  min-height: 50%;
  background: #3e3e3e;
  padding: 50px 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 482, ../sass/utils/_base.sass */
.modal .container .text .div-detalhes {
  margin-top: 50px;
}
/* line 485, ../sass/utils/_base.sass */
.modal .container .text .div-detalhes h2 {
  font-size: 20px;
  margin-top: 60px;
}
/* line 489, ../sass/utils/_base.sass */
.modal .container .text .div-detalhes p {
  font-size: 13px;
  font-weight: 100;
}
/* line 493, ../sass/utils/_base.sass */
.modal .container .text .buttonModal {
  background: white;
  color: #3e3e3e;
  padding: 20px;
  display: block;
  font-size: 15px;
  text-align: center;
  width: 60%;
  max-width: 200px;
  margin: 60px auto;
  font-weight: 700;
}
/* line 506, ../sass/utils/_base.sass */
.modal .container h2 {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 20px 0px;
  color: #fdfdfd;
  text-align: center;
}
/* line 514, ../sass/utils/_base.sass */
.modal .container .divisao {
  height: 1px;
  width: 15%;
  background: #fafafa;
  margin: 30px auto 30px auto;
  display: block;
}
/* line 522, ../sass/utils/_base.sass */
.modal .container p {
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  font-size: 16px;
  margin: 20px 1.5%;
}
/* line 529, ../sass/utils/_base.sass */
.modal .container ul {
  margin: 20px 0px;
}
/* line 531, ../sass/utils/_base.sass */
.modal .container ul li {
  margin: 10px 0px;
  font-family: "Open Sans", sans-serif;
  color: #fdfdfd;
}
/* line 536, ../sass/utils/_base.sass */
.modal .container .form {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
}
/* line 541, ../sass/utils/_base.sass */
.modal .container .form .error {
  color: #a51f24;
  display: block;
  font-weight: 700;
}
/* line 546, ../sass/utils/_base.sass */
.modal .container .form .fields {
  overflow: hidden;
  *zoom: 1;
}
/* line 550, ../sass/utils/_base.sass */
.modal .container .form .fields.fieldsCV .field {
  width: 100%;
  margin: 0;
}
/* line 554, ../sass/utils/_base.sass */
.modal .container .form .fields.fieldsCV .field button {
  width: 40%;
  float: right;
  line-height: 1.5;
}
/* line 559, ../sass/utils/_base.sass */
.modal .container .form .fields .field {
  float: left;
  width: 30.3%;
  margin: 0 1.5%;
}
/* line 564, ../sass/utils/_base.sass */
.modal .container .form .fields .field .error {
  display: block;
  color: white;
}
/* line 569, ../sass/utils/_base.sass */
.modal .container .form .fields .field input[type="file"] {
  color: white;
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  display: block;
}
/* line 575, ../sass/utils/_base.sass */
.modal .container .form .fields .field .labelFile {
  color: #fafafa;
  float: right;
  background-color: #1f1f1d;
  padding: 12px;
  border: 2px solid #fafafa;
  margin: 20px 0px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  max-width: 43%;
}
/* line 600, ../sass/utils/_base.sass */
.modal .container .form .fields input {
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
/* line 605, ../sass/utils/_base.sass */
.modal .container .form .fields input::-webkit-input-placeholder {
  color: #1f1f1d;
}
/* line 609, ../sass/utils/_base.sass */
.modal .container .form .fields input:-moz-placeholder {
  color: #1f1f1d;
}
/* line 613, ../sass/utils/_base.sass */
.modal .container .form .fields input::-moz-placeholder {
  color: #1f1f1d;
}
/* line 617, ../sass/utils/_base.sass */
.modal .container .form .fields input:-ms-input-placeholder {
  color: #1f1f1d;
}
/* line 621, ../sass/utils/_base.sass */
.modal .container .form .textarea {
  display: block;
}
/* line 623, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea {
  width: 97%;
  margin: 10px 1.5%;
  display: block;
  height: 100px;
  resize: none;
  padding: 15px;
  color: #1f1f1d;
  font-family: "Open Sans", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
/* line 635, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea::-webkit-input-placeholder {
  color: #1f1f1d;
}
/* line 639, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea:-moz-placeholder {
  color: #1f1f1d;
}
/* line 643, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea::-moz-placeholder {
  color: #1f1f1d;
}
/* line 647, ../sass/utils/_base.sass */
.modal .container .form .textarea textarea:-ms-input-placeholder {
  color: #1f1f1d;
}
/* line 650, ../sass/utils/_base.sass */
.modal .container .form input, .modal .container .form label {
  display: block;
}
/* line 653, ../sass/utils/_base.sass */
.modal .container .form label {
  font-family: "Open Sans", sans-serif;
  color: white;
}
/* line 657, ../sass/utils/_base.sass */
.modal .container .form input {
  height: 55px;
  width: 100%;
  color: #1f1f1d;
  font-family: "Open Sans", sans-serif;
  margin: 5px 0px 15px 0px;
}
/* line 664, ../sass/utils/_base.sass */
.modal .container .form button {
  background: #a51f24;
  color: #fafafa;
  width: 30%;
  float: right;
  margin: 20px 1.5%;
  border: 2px solid #a51f24;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 673, ../sass/utils/_base.sass */
.modal .container .form button:hover {
  background: #7a171b;
}
/* line 676, ../sass/utils/_base.sass */
.modal .close-light, .modal .close-pi {
  background: white;
  color: #1f1f1d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid white;
  display: block;
  padding: 5px 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  cursor: pointer;
}
/* line 691, ../sass/utils/_base.sass */
.modal .close-light:hover, .modal .close-pi:hover {
  background: white;
  color: #738c1a;
}

@media (max-width: 860px) {
  /* line 700, ../sass/utils/_base.sass */
  .modal .container .text ul {
    display: none;
  }
  /* line 703, ../sass/utils/_base.sass */
  .modal .container .text h2 {
    font-size: 20px;
  }
  /* line 706, ../sass/utils/_base.sass */
  .modal .container .text p {
    font-size: 13px;
  }
  /* line 711, ../sass/utils/_base.sass */
  .modal .container .form {
    padding-top: 10px;
  }
  /* line 714, ../sass/utils/_base.sass */
  .modal .container .form .fields .field {
    width: 100%;
  }
  /* line 716, ../sass/utils/_base.sass */
  .modal .container .form .fields .field input {
    height: 40px;
    margin-bottom: 8px;
  }
}
/* line 721, ../sass/utils/_base.sass */
.title-banner, .article-banner {
  margin-top: 8px;
  height: 330px;
  width: 100%;
  background: url("../img/banner/artigos.jpg") top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}
/* line 732, ../sass/utils/_base.sass */
.title-banner a.button, .article-banner a.button {
  background: white;
  color: #b74b4e;
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  display: block;
  margin: 30px auto;
  width: 40%;
  border: 2px solid white;
  max-width: 250px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 745, ../sass/utils/_base.sass */
.title-banner a.button:hover, .article-banner a.button:hover {
  background: #b74b4e;
  color: white;
}
/* line 749, ../sass/utils/_base.sass */
.title-banner .back-button, .article-banner .back-button {
  background-image: url("../img/voltar-btn.png");
  height: 13px;
  width: 94px;
  padding: 5px 10px;
  color: #525251;
  position: absolute;
  font-size: 13px;
  top: 0px;
  left: 10px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 762, ../sass/utils/_base.sass */
.title-banner .back-button i.back, .article-banner .back-button i.back {
  background-position: 0 -48px;
  width: 41px;
  height: 6px;
  display: inline-block;
  margin-bottom: 3px;
}
/* line 769, ../sass/utils/_base.sass */
.title-banner h1, .article-banner h1 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
/* line 774, ../sass/utils/_base.sass */
.title-banner h1:after, .article-banner h1:after {
  content: "";
  height: 1px;
  width: 10%;
  margin: 20px auto;
  background: #fff;
  display: block;
}
/* line 782, ../sass/utils/_base.sass */
.title-banner h2, .article-banner h2 {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  max-width: 30%;
  margin: 0 auto;
  display: block;
  line-height: 1.4;
}
/* line 791, ../sass/utils/_base.sass */
.title-banner .container, .article-banner .container {
  height: 280px;
}

/* line 795, ../sass/utils/_base.sass */
.title-banner .seta, .article-banner .seta, .siab-banner .seta {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 10px;
  border-bottom: 1px solid #ababab;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 805, ../sass/utils/_base.sass */
.title-banner .seta .circle, .article-banner .seta .circle, .siab-banner .seta .circle {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #ababab;
  border-top: 0;
  margin: 1px auto;
  cursor: pointer;
}
/* line 815, ../sass/utils/_base.sass */
.title-banner .seta .circle span, .article-banner .seta .circle span, .siab-banner .seta .circle span {
  background-position: 0 -139px;
  width: 12px;
  height: 7px;
  display: inline-block;
  margin-top: 12px;
}

@media (max-width: 1124px) {
  /* line 826, ../sass/utils/_base.sass */
  footer .quarto ul li {
    font-size: 10px;
  }
  /* line 831, ../sass/utils/_base.sass */
  footer .info .text p {
    font-size: 11px;
  }
}
@media (max-width: 700px) {
  /* line 837, ../sass/utils/_base.sass */
  .footer .brasil {
    display: none;
  }

  /* line 841, ../sass/utils/_base.sass */
  footer .container {
    width: 100%;
  }
  /* line 844, ../sass/utils/_base.sass */
  footer .quarto {
    float: none;
    width: 100%;
    display: block;
  }
  /* line 849, ../sass/utils/_base.sass */
  footer .quarto ul li {
    font-size: 10px;
  }
  /* line 852, ../sass/utils/_base.sass */
  footer .quarto:nth-of-type(2), footer .quarto:nth-of-type(3), footer .quarto:nth-of-type(4) {
    padding-top: 30px;
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
  }
  /* line 858, ../sass/utils/_base.sass */
  footer .quarto .info .text p {
    font-size: 11px;
  }
}
@media (max-width: 520px) {
  /* line 864, ../sass/utils/_base.sass */
  .title-banner h2, .article-banner h2, .siab-banner h2 {
    max-width: 60%;
  }
}
@media (max-width: 400px) {
  /* line 869, ../sass/utils/_base.sass */
  .title-banner-alt {
    padding-top: 0px;
  }
  /* line 871, ../sass/utils/_base.sass */
  .title-banner-alt a.button {
    width: 50%;
  }
  /* line 876, ../sass/utils/_base.sass */
  .title-banner-alt .back-button {
    margin-top: 13px;
  }
  /* line 879, ../sass/utils/_base.sass */
  .title-banner-alt .title-segmento {
    margin-top: 52px;
  }
  /* line 881, ../sass/utils/_base.sass */
  .title-banner-alt .seta-segmento {
    margin-top: 50px;
  }
}
/* line 2, ../sass/pages/_home.sass */
.page-home .circle {
  cursor: pointer;
}

/* line 5, ../sass/pages/_home.sass */
section.banner {
  background: url("../img/banner/home.jpg") top center no-repeat;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  margin-top: 10px;
  border-bottom: 5px solid #f5f5f4;
  background-size: cover;
}
/* line 14, ../sass/pages/_home.sass */
section.banner .seta {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 20px;
  border-bottom: 1px solid #ababab;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 24, ../sass/pages/_home.sass */
section.banner .seta .circle {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #ababab;
  border-top: 0;
  margin: 10px auto;
}
/* line 33, ../sass/pages/_home.sass */
section.banner .seta span {
  background-position: 0 -139px;
  width: 12px;
  height: 7px;
  display: inline-block;
  margin-top: 12px;
}
/* line 40, ../sass/pages/_home.sass */
section.banner .container {
  width: 100%;
  max-width: none;
}
/* line 47, ../sass/pages/_home.sass */
section.banner .slice {
  width: 25%;
  float: left;
  min-height: 80vh;
  background: trasparent;
  border-left: 10px solid white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
  cursor: pointer;
  display: block;
}
/* line 60, ../sass/pages/_home.sass */
section.banner .slice:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* line 66, ../sass/pages/_home.sass */
section.banner .slice:last-of-type:hover:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  right: -50%;
  background: rgba(0, 0, 0, 0.3);
}
/* line 74, ../sass/pages/_home.sass */
section.banner .slice:first-of-type {
  border-left: 0;
}
/* line 78, ../sass/pages/_home.sass */
section.banner .slice:first-of-type:hover:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: -50%;
  background: rgba(0, 0, 0, 0.3);
}
/* line 87, ../sass/pages/_home.sass */
section.banner .slice div {
  width: 50%;
  margin: 40px auto;
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  padding-top: 20vh;
}
/* line 93, ../sass/pages/_home.sass */
section.banner .slice div h1 {
  color: #f5f5f4;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  line-height: 1.4;
}
/* line 100, ../sass/pages/_home.sass */
section.banner .slice div h1:after {
  content: "";
  height: 1px;
  width: 30%;
  margin: 10px auto;
  background: white;
  display: block;
}
/* line 108, ../sass/pages/_home.sass */
section.banner .slice div h3 {
  font-size: 15px;
  color: #f5f5f4;
  text-align: center;
  margin-left: 20px;
  line-height: 1.4;
  font-weight: 300;
}

/* line 117, ../sass/pages/_home.sass */
section.more {
  margin-top: 90px;
  overflow: hidden;
  *zoom: 1;
}
/* line 120, ../sass/pages/_home.sass */
section.more .container {
  max-width: none;
  width: 100%;
}
/* line 123, ../sass/pages/_home.sass */
section.more .portfolio {
  background: url("../img/portfolio.png") right no-repeat;
  background-size: cover;
  width: 40%;
  height: 130px;
  padding: 0px 25px;
  color: #f5f5f4;
  text-align: right;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 134, ../sass/pages/_home.sass */
section.more .portfolio span {
  color: #f5f5f4;
  line-height: 130px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
/* line 141, ../sass/pages/_home.sass */
section.more .sobre {
  float: left;
  width: 20%;
  text-align: center;
  padding: 0px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 148, ../sass/pages/_home.sass */
section.more .sobre h1 {
  color: #990000;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}
/* line 153, ../sass/pages/_home.sass */
section.more .sobre h1:after {
  content: "";
  height: 1px;
  width: 30%;
  margin: 20px auto;
  background: #666666;
  display: block;
}
/* line 161, ../sass/pages/_home.sass */
section.more .sobre h2 {
  font-size: 15px;
  color: #666666;
  line-height: 1.4;
}
/* line 167, ../sass/pages/_home.sass */
section.more .artigos {
  background: url("../img/artigos.png") left no-repeat;
  background-size: cover;
  width: 40%;
  height: 130px;
  padding: 0px 25px;
  color: #f5f5f4;
  text-align: left;
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 178, ../sass/pages/_home.sass */
section.more .artigos span {
  color: #f5f5f4;
  line-height: 130px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 1124px) {
  /* line 189, ../sass/pages/_home.sass */
  section.banner .slice div h1 {
    font-size: 25px;
  }
  /* line 192, ../sass/pages/_home.sass */
  section.banner .slice div h3 {
    font-size: 12px;
  }
}
@media (max-width: 860px) {
  /* line 196, ../sass/pages/_home.sass */
  section.banner {
    height: auto;
  }
  /* line 199, ../sass/pages/_home.sass */
  section.banner .slice {
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    float: none;
    width: 100%;
    border-left: 0px;
    min-height: 40vh;
  }
  /* line 206, ../sass/pages/_home.sass */
  section.banner .slice div {
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    padding-top: 5vh;
  }
  /* line 210, ../sass/pages/_home.sass */
  section.banner .slice div h3 {
    margin: 0 auto;
  }
  /* line 214, ../sass/pages/_home.sass */
  section.banner .slice:nth-of-type(2), section.banner .slice:nth-of-type(3), section.banner .slice:nth-of-type(4) {
    border-top: 10px #fff solid;
  }
}
@media (max-width: 700px) {
  /* line 219, ../sass/pages/_home.sass */
  section.more .portfolio {
    float: none;
    width: 100%;
  }
  /* line 223, ../sass/pages/_home.sass */
  section.more .sobre {
    float: none;
    width: 50%;
    margin: 60px auto;
  }
  /* line 228, ../sass/pages/_home.sass */
  section.more .artigos {
    float: none;
    width: 100%;
  }
}
@media (max-width: 520px) {
  /* line 233, ../sass/pages/_home.sass */
  section.banner {
    background: #9a3334;
  }
}
@media (max-width: 400px) {
  /* line 238, ../sass/pages/_home.sass */
  section.more .sobre {
    float: none;
    width: 70%;
    margin: 60px auto;
  }
}
/* line 1, ../sass/pages/_artigos.sass */
.page-articles {
  padding-top: 60px;
}
/* line 4, ../sass/pages/_artigos.sass */
.page-articles .paginationContainer {
  text-align: center;
}
/* line 7, ../sass/pages/_artigos.sass */
.page-articles .pagination {
  display: inline-block;
}
/* line 9, ../sass/pages/_artigos.sass */
.page-articles .pagination .next, .page-articles .pagination .prev, .page-articles .pagination .current, .page-articles .pagination .page-numbers {
  background: #dcdada;
  color: #454444;
  padding: 5px;
  line-height: 50px;
}
/* line 15, ../sass/pages/_artigos.sass */
.page-articles .pagination .current {
  background: #a41d22;
  color: white;
}
/* line 18, ../sass/pages/_artigos.sass */
.page-articles .pagination .page-numbers {
  margin: 0 15px;
}
/* line 24, ../sass/pages/_artigos.sass */
.page-articles .pagination a.page-numbers:hover {
  background: #a41d22;
  color: white;
}
/* line 28, ../sass/pages/_artigos.sass */
.page-articles ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 30, ../sass/pages/_artigos.sass */
.page-articles ul li {
  width: 23%;
  margin: 10px 1%;
  background: red;
  float: left;
  padding: 10px;
  background: url("../img/artigo-holder.jpg");
  background-size: cover;
  min-height: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 43, ../sass/pages/_artigos.sass */
.page-articles ul li a {
  color: #fff;
  display: block;
  height: 100%;
  max-height: 350px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 50, ../sass/pages/_artigos.sass */
.page-articles ul li a .text {
  position: absolute;
  top: 150px;
  z-index: 999;
}
/* line 56, ../sass/pages/_artigos.sass */
.page-articles ul li a:hover:after {
  background: rgba(167, 33, 37, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
/* line 68, ../sass/pages/_artigos.sass */
.page-articles ul li .category {
  margin: 20px 0px;
  z-index: 9999999;
}
/* line 71, ../sass/pages/_artigos.sass */
.page-articles ul li .category span {
  font-size: 13px;
  color: #303030;
  background: #f5f5f4;
  padding: 5px;
}
/* line 77, ../sass/pages/_artigos.sass */
.page-articles ul li h2 {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  line-height: 1.3;
  z-index: 9999999;
}
/* line 83, ../sass/pages/_artigos.sass */
.page-articles ul li h4 {
  font-size: 13px;
  font-weight: 300;
  margin: 10px 0px;
  z-index: 9999999;
}

@media (max-width: 1124px) {
  /* line 92, ../sass/pages/_artigos.sass */
  .page-articles ul li {
    width: 31%;
  }
  /* line 96, ../sass/pages/_artigos.sass */
  .page-articles ul li a .text {
    top: 110px;
  }
}
@media (max-width: 860px) {
  /* line 103, ../sass/pages/_artigos.sass */
  .page-articles ul li {
    width: 42%;
    margin: 10px 4%;
  }
}
@media (max-width: 700px) {
  /* line 111, ../sass/pages/_artigos.sass */
  .page-articles ul li {
    width: 44%;
    margin: 10px 3%;
  }
  /* line 115, ../sass/pages/_artigos.sass */
  .page-articles ul li h2 {
    font-size: 20px;
  }
  /* line 118, ../sass/pages/_artigos.sass */
  .page-articles ul li h4 {
    margin: 6px 0px;
  }
}
@media (max-width: 520px) {
  /* line 125, ../sass/pages/_artigos.sass */
  .page-articles ul li {
    float: none;
    width: 70%;
    margin: 50px auto;
  }
}
@media (max-width: 400px) {
  /* line 134, ../sass/pages/_artigos.sass */
  .page-articles ul li {
    width: 90%;
  }
}
/* line 1, ../sass/pages/_artigo.sass */
.article-banner {
  background: url("../img/banner/artigo-bg.jpg") top no-repeat;
  background-attachment: fixed;
}
/* line 5, ../sass/pages/_artigo.sass */
.article-banner .back-button {
  background-image: url("../img/voltar-btn.png");
  height: 13px;
  width: 94px;
  padding: 5px 10px;
  color: #525251;
  position: absolute;
  font-size: 13px;
  top: 0px;
  left: 10px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 17, ../sass/pages/_artigo.sass */
.article-banner .back-button i.back {
  background-position: 0 -48px;
  width: 41px;
  height: 6px;
  display: inline-block;
  margin-bottom: 3px;
}
/* line 25, ../sass/pages/_artigo.sass */
.article-banner .center {
  width: 60%;
  margin: 0 auto;
  max-width: 450px;
}
/* line 31, ../sass/pages/_artigo.sass */
.article-banner h1 {
  text-align: left;
  width: 60%;
  margin: 10px auto;
  max-width: 450px;
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  line-height: 1.3;
}
/* line 41, ../sass/pages/_artigo.sass */
.article-banner h1:after {
  margin: 20px 0px;
  width: 20%;
}
/* line 45, ../sass/pages/_artigo.sass */
.article-banner .category {
  margin: 0px;
  float: left;
}
/* line 49, ../sass/pages/_artigo.sass */
.article-banner .category span {
  font-size: 13px;
  color: #303030;
  background: #f5f5f4;
  padding: 0 5px;
  line-height: 1;
}
/* line 56, ../sass/pages/_artigo.sass */
.article-banner h4 {
  font-size: 13px;
  font-weight: 300;
  margin: 10px 0px;
  color: white;
  float: left;
  margin: 0 15px;
}

/* line 67, ../sass/pages/_artigo.sass */
.page-article .firula {
  text-align: center;
  padding: 30px 0px;
}
/* line 71, ../sass/pages/_artigo.sass */
.page-article p {
  margin: 30px 0px;
  font-weight: 300;
  color: #313030;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
}
/* line 79, ../sass/pages/_artigo.sass */
.page-article h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0px;
  color: #313030;
}
/* line 85, ../sass/pages/_artigo.sass */
.page-article ul {
  padding-left: 50px;
  color: #313030;
  margin: 30px 0px;
}
/* line 90, ../sass/pages/_artigo.sass */
.page-article ul li {
  font-weight: 300;
  font-size: 15px;
  margin: 10px 0px;
}
/* line 96, ../sass/pages/_artigo.sass */
.page-article .container {
  padding: 50px;
  max-width: 960px;
  margin-top: 10px;
  -moz-box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 520px) {
  /* line 104, ../sass/pages/_artigo.sass */
  .page-article .container {
    width: 80%;
  }

  /* line 108, ../sass/pages/_artigo.sass */
  .article-banner h1 {
    width: 80%;
    font-size: 22px;
    text-align: center;
  }
  /* line 113, ../sass/pages/_artigo.sass */
  .article-banner h1:after {
    margin: 20px auto;
  }
  /* line 116, ../sass/pages/_artigo.sass */
  .article-banner h4 {
    float: none;
    margin: 10px 15px;
  }
  /* line 120, ../sass/pages/_artigo.sass */
  .article-banner .category {
    float: none;
  }

  /* line 124, ../sass/pages/_artigo.sass */
  .page-article .container {
    width: 75%;
  }
}
/* line 1, ../sass/pages/_portfolio.sass */
.page-portfolio, .banner-promocional {
  padding-top: 90px;
}
/* line 4, ../sass/pages/_portfolio.sass */
.page-portfolio .searchBox, .banner-promocional .searchBox {
  background: url("../img/portfolio/seachinabox-bg.jpg") no-repeat center;
  background-size: cover;
  height: 144px;
  width: 100%;
  margin: 50px 0px;
}
/* line 11, ../sass/pages/_portfolio.sass */
.page-portfolio .searchBox h3, .banner-promocional .searchBox h3 {
  float: left;
  width: 30%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 144px;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  color: white;
}
/* line 21, ../sass/pages/_portfolio.sass */
.page-portfolio .searchBox p, .banner-promocional .searchBox p {
  float: left;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px auto;
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 10px 40px;
}
/* line 31, ../sass/pages/_portfolio.sass */
.page-portfolio .searchBox a, .banner-promocional .searchBox a {
  float: left;
  display: block;
  width: 17%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  color: #660606;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin-top: 45px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  border: 2px solid white;
}
/* line 46, ../sass/pages/_portfolio.sass */
.page-portfolio .searchBox a:hover, .banner-promocional .searchBox a:hover {
  background: #660606;
  color: white;
}

/* line 49, ../sass/pages/_portfolio.sass */
ul.produtos {
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../sass/pages/_portfolio.sass */
ul.produtos li {
  width: 25%;
  margin: 20px 4%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #828282;
  position: relative;
}
/* line 60, ../sass/pages/_portfolio.sass */
ul.produtos li a {
  padding: 15px 45px;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background: white;
}
/* line 68, ../sass/pages/_portfolio.sass */
ul.produtos li a:hover {
  background: #a51f24;
}
/* line 71, ../sass/pages/_portfolio.sass */
ul.produtos li a:hover .icon img {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 75, ../sass/pages/_portfolio.sass */
ul.produtos li a:hover h2, ul.produtos li a:hover p {
  color: #fefefe;
}
/* line 78, ../sass/pages/_portfolio.sass */
ul.produtos li a:hover .seta i.icon-arrow {
  background-position: 0 -24px;
  width: 8px;
  height: 14px;
}
/* line 84, ../sass/pages/_portfolio.sass */
ul.produtos li h2 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  color: #a62024;
  margin-bottom: 20px;
}
/* line 90, ../sass/pages/_portfolio.sass */
ul.produtos li p {
  color: #292929;
  font-size: 15px;
  font-weight: 300;
}
/* line 95, ../sass/pages/_portfolio.sass */
ul.produtos li .seta {
  display: block;
  position: absolute;
  right: 10px;
  top: 45%;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 103, ../sass/pages/_portfolio.sass */
ul.produtos li .seta i.icon-arrow {
  display: block;
  background-position: 0 0;
  width: 8px;
  height: 14px;
}
/* line 109, ../sass/pages/_portfolio.sass */
ul.produtos li .icon {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  height: 60px;
  width: 60px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  border: 1px solid #828282;
  left: -30px;
  background: #fff;
  text-align: center;
}
/* line 121, ../sass/pages/_portfolio.sass */
ul.produtos li .icon img {
  margin: 14px 0;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

@media (max-width: 860px) {
  /* line 127, ../sass/pages/_portfolio.sass */
  ul.produtos li {
    width: 30%;
    margin: 50px 10%;
  }

  /* line 133, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox h3 {
    font-size: 24px;
  }
  /* line 136, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox p {
    margin: 12px auto;
    font-size: 14px;
  }
  /* line 140, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox a {
    font-size: 12px;
    width: 14%;
  }
}
@media (max-width: 700px) {
  /* line 147, ../sass/pages/_portfolio.sass */
  ul.produtos li {
    float: none;
    width: 60%;
    margin: 50px auto;
  }

  /* line 153, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox {
    height: 304px;
  }
  /* line 156, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox h3 {
    float: none;
    width: 100%;
    margin: 0px auto;
    height: 90px;
  }
  /* line 162, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox p {
    width: 100%;
    float: none;
  }
  /* line 166, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox a {
    padding: 20px;
    width: 50%;
    float: none;
    margin: 0px auto;
  }
}
@media (max-width: 700px) {
  /* line 174, ../sass/pages/_portfolio.sass */
  ul.produtos li {
    width: 80%;
  }
}
@media (max-width: 400px) {
  /* line 179, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox {
    height: 344px;
  }
  /* line 182, ../sass/pages/_portfolio.sass */
  .page-portfolio .searchBox a {
    width: 70%;
  }
}
/* line 5, ../sass/pages/_produto.sass */
.page-segmento .solutions {
  max-width: 900px;
  margin: 0 auto;
}
/* line 8, ../sass/pages/_produto.sass */
.page-segmento .solutions .carousel {
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../sass/pages/_produto.sass */
.page-segmento .solutions .visible {
  position: relative;
  width: 80%;
  float: left;
  overflow: hidden;
  height: 190px;
}
/* line 17, ../sass/pages/_produto.sass */
.page-segmento .solutions .arrow-nav {
  float: right;
  width: 20%;
  padding-top: 30px;
}
/* line 24, ../sass/pages/_produto.sass */
.page-segmento .solutions .arrow-nav .prev, .page-segmento .solutions .arrow-nav .next {
  background-position: 0 -456px;
  width: 26px;
  height: 25px;
  cursor: pointer;
  margin: 20px auto;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 32, ../sass/pages/_produto.sass */
.page-segmento .solutions .arrow-nav .prev.active, .page-segmento .solutions .arrow-nav .next.active {
  background-position: 0 -421px;
  width: 26px;
  height: 25px;
}
/* line 37, ../sass/pages/_produto.sass */
.page-segmento .solutions .arrow-nav .prev.next, .page-segmento .solutions .arrow-nav .next.next {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 44, ../sass/pages/_produto.sass */
.page-segmento .solutions ul {
  position: absolute;
  top: 0;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 48, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li {
  background: #dbdbdb;
  margin-bottom: 20px;
}
/* line 52, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li a {
  color: #4e4d4d;
}
/* line 55, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main {
  padding: 20px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 59, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main .title {
  float: left;
  width: 30%;
}
/* line 63, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main .title h3 {
  display: block;
  font-family: "Oswald", sans-serif;
  color: #a41d20;
  font-size: 24px;
  margin-left: 28px;
}
/* line 71, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main .title p {
  display: inline-block;
  max-width: 700px;
  font-size: 14px;
  color: #4e4d4d;
}
/* line 78, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main .icon {
  background: #fff;
  text-align: center;
  display: block;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  margin: 20px auto;
  width: 60px;
  height: 60px;
}
/* line 86, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main .icon img {
  margin: 14px auto;
}
/* line 89, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li .main .text {
  float: right;
  width: 70%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
}
/* line 101, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li a.more {
  background: #c2c2c2;
  padding: 5px 10px;
  text-align: right;
  font-weight: 700;
  color: #7d7d7d;
  display: block;
  text-decoration: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 111, ../sass/pages/_produto.sass */
.page-segmento .solutions ul li a.more:hover {
  background: #7d7d7d;
  color: #c2c2c2;
}
/* line 119, ../sass/pages/_produto.sass */
.page-segmento .essencial {
  margin: 70px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 122, ../sass/pages/_produto.sass */
.page-segmento .essencial a {
  background: white;
  color: #a41d20;
  border: 3px solid #a41d20;
  margin: 50px auto;
  display: block;
  padding: 15px;
  text-align: center;
  width: 60%;
  max-width: 250px;
  font-weight: 700;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 135, ../sass/pages/_produto.sass */
.page-segmento .essencial a:hover {
  background: #a41d20;
  color: white;
}
/* line 139, ../sass/pages/_produto.sass */
.page-segmento .essencial ul {
  overflow: hidden;
  *zoom: 1;
  margin: 50px 0px;
}
/* line 142, ../sass/pages/_produto.sass */
.page-segmento .essencial ul li {
  float: left;
  width: 30%;
  margin: 10px 1.5%;
}
/* line 147, ../sass/pages/_produto.sass */
.page-segmento .essencial ul li .num {
  display: inline-block;
  font-size: 143px;
  font-weight: 700;
  color: #a41d21;
  position: relative;
  -moz-transform: scale(0.2, 0.2);
  -ms-transform: scale(0.2, 0.2);
  -webkit-transform: scale(0.2, 0.2);
  transform: scale(0.2, 0.2);
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 156, ../sass/pages/_produto.sass */
.page-segmento .essencial ul li .num.open {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 158, ../sass/pages/_produto.sass */
.page-segmento .essencial ul li .num:after {
  content: "";
  height: 25px;
  width: 25px;
  display: block;
  background: #a41d21;
  border: 4px solid white;
  right: -4px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  bottom: 10px;
  position: absolute;
}
/* line 170, ../sass/pages/_produto.sass */
.page-segmento .essencial ul li p {
  display: inline-block;
  width: 200px;
  margin-left: 20px;
  font-size: 15px;
  color: #5c5a5a;
}

/* line 178, ../sass/pages/_produto.sass */
.page-product, .page-segmento {
  padding: 60px 0px;
}
/* line 181, ../sass/pages/_produto.sass */
.page-product.page-segmento, .page-segmento.page-segmento {
  padding: 60px 0px 10px;
}
/* line 185, ../sass/pages/_produto.sass */
.page-product .screenbg, .page-segmento .screenbg {
  height: 300vh;
  position: relative;
}
/* line 189, ../sass/pages/_produto.sass */
.page-product a.button, .page-segmento a.button {
  background: #a41d21;
  color: white;
  padding: 20px;
  display: block;
  font-size: 15px;
  text-align: center;
  width: 60%;
  max-width: 200px;
  margin: 60px auto;
}
/* line 200, ../sass/pages/_produto.sass */
.page-product ul.especificacoes, .page-segmento ul.especificacoes {
  overflow: hidden;
  *zoom: 1;
}
/* line 202, ../sass/pages/_produto.sass */
.page-product ul.especificacoes li, .page-segmento ul.especificacoes li {
  float: left;
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  color: #434141;
  font-weight: 300;
}
/* line 211, ../sass/pages/_produto.sass */
.page-product ul.especificacoes li .check, .page-segmento ul.especificacoes li .check {
  background-position: 0 -48px;
  width: 40px;
  height: 38px;
  display: block;
  margin: 10px auto;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 219, ../sass/pages/_produto.sass */
.page-product ul.especificacoes li .check.disabled, .page-segmento ul.especificacoes li .check.disabled {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
/* line 222, ../sass/pages/_produto.sass */
.page-product ul.especificacoes li h2, .page-segmento ul.especificacoes li h2 {
  font-weight: 600;
  font-size: 15px;
  color: #434141;
  margin: 20px 0px;
}
/* line 228, ../sass/pages/_produto.sass */
.page-product .qualidade, .page-segmento .qualidade {
  background: url("../img/produto-bg.jpg") center;
  background-attachment: fixed;
  background-size: cover;
  margin: 60px 0px;
  padding: 90px 0px 20px;
  min-height: 70vh;
}
/* line 237, ../sass/pages/_produto.sass */
.page-product .qualidade ul, .page-segmento .qualidade ul {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  display: block;
  width: 80%;
}
/* line 242, ../sass/pages/_produto.sass */
.page-product .qualidade ul li, .page-segmento .qualidade ul li {
  float: left;
  margin: 0px 1.5%;
  width: 30%;
  text-align: center;
}
/* line 248, ../sass/pages/_produto.sass */
.page-product .qualidade h1, .page-segmento .qualidade h1 {
  color: white;
}
/* line 251, ../sass/pages/_produto.sass */
.page-product .qualidade p, .page-segmento .qualidade p {
  color: white;
  width: 60%;
  max-width: 600px;
  text-align: center;
  margin: 60px auto;
  font-weight: 300;
  line-height: 1.7;
}
/* line 260, ../sass/pages/_produto.sass */
.page-product h1, .page-segmento h1 {
  font-size: 30px;
  color: #a41d20;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 30px auto;
}
/* line 267, ../sass/pages/_produto.sass */
.page-product .scroll-arrows, .page-segmento .scroll-arrows {
  width: 27px;
  height: 85px;
  background: url("../img/scroll-arrows.png");
  margin: 60px auto;
}
/* line 272, ../sass/pages/_produto.sass */
.page-product .screen, .page-segmento .screen {
  background: #333333;
  border: 20px solid #c0bfbc;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  width: 420px;
  height: 260px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
/* line 282, ../sass/pages/_produto.sass */
.page-product .screen .black, .page-segmento .screen .black {
  background: #333333;
  color: #b5b5b5;
  font-family: Courier;
  font-size: 17px;
}
/* line 288, ../sass/pages/_produto.sass */
.page-product .screen .black p, .page-segmento .screen .black p {
  line-height: 2;
}
/* line 291, ../sass/pages/_produto.sass */
.page-product .typed-cursor, .page-segmento .typed-cursor {
  display: none;
}
/* line 295, ../sass/pages/_produto.sass */
.page-product .mobileScreen, .page-segmento .mobileScreen {
  display: none;
}
/* line 298, ../sass/pages/_produto.sass */
.page-product .screenBase, .page-segmento .screenBase {
  background: url("../img/product-base.png") center;
  max-width: 100%;
  width: 736px;
  height: 74px;
  margin: 0 auto;
}
/* line 305, ../sass/pages/_produto.sass */
.page-product .screenArrow, .page-segmento .screenArrow {
  background: url("../img/miniarrow.png") center;
  margin: 50px auto;
  width: 27px;
  height: 24px;
}
/* line 311, ../sass/pages/_produto.sass */
.page-product .screenArrowSegmento, .page-segmento .screenArrowSegmento {
  background: url("../img/miniarrow.png") center;
  margin: 50px auto;
  width: 27px;
  height: 24px;
}
/* line 317, ../sass/pages/_produto.sass */
.page-product .screenArrowSegmentoUp, .page-segmento .screenArrowSegmentoUp {
  background: url("../img/miniarrowup.png") center;
  margin: -120px auto 96px auto;
  width: 27px;
  height: 24px;
  display: none;
}
/* line 325, ../sass/pages/_produto.sass */
.page-product .screenArrowProduto, .page-segmento .screenArrowProduto {
  background: url("../img/miniarrow.png") center;
  margin: 50px auto;
  width: 27px;
  height: 24px;
}
/* line 331, ../sass/pages/_produto.sass */
.page-product .screenArrowProdutoUp, .page-segmento .screenArrowProdutoUp {
  background: url("../img/miniarrowup.png") center;
  margin: -120px auto 96px auto;
  width: 27px;
  height: 24px;
  display: none;
}
/* line 338, ../sass/pages/_produto.sass */
.page-product .container-mais-detalhes, .page-segmento .container-mais-detalhes {
  text-align: center;
}
/* line 341, ../sass/pages/_produto.sass */
.page-product .container-mais-detalhes .mais-detalhes, .page-segmento .container-mais-detalhes .mais-detalhes {
  color: #a41d21;
  text-decoration: underline;
}

@media (max-width: 700px) {
  /* line 351, ../sass/pages/_produto.sass */
  .page-segmento .essencial ul li, .page-product .essencial ul li {
    float: none;
    margin: 0px auto 49px auto;
    text-align: center;
    width: 180px;
  }
  /* line 357, ../sass/pages/_produto.sass */
  .page-segmento .essencial ul li p, .page-product .essencial ul li p {
    margin-left: 0px;
  }
  /* line 360, ../sass/pages/_produto.sass */
  .page-segmento .qualidade, .page-product .qualidade {
    height: 1000px;
  }
  /* line 363, ../sass/pages/_produto.sass */
  .page-segmento .qualidade ul li, .page-product .qualidade ul li {
    float: none;
    margin: 0px auto 30px auto;
    width: 50%;
  }
  /* line 373, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .title h3, .page-product .solutions ul li .main .title h3 {
    font-size: 18px;
  }
  /* line 377, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .text p, .page-product .solutions ul li .main .text p {
    font-size: 15px;
  }
}
@media (max-width: 520px) {
  /* line 383, ../sass/pages/_produto.sass */
  .page-segmento .screenbg, .page-product .screenbg {
    height: auto;
  }
  /* line 386, ../sass/pages/_produto.sass */
  .page-segmento .screenArrowSegmento, .page-product .screenArrowSegmento {
    display: none;
  }
  /* line 389, ../sass/pages/_produto.sass */
  .page-segmento .mobileScreen, .page-product .mobileScreen {
    display: block;
  }
  /* line 391, ../sass/pages/_produto.sass */
  .page-segmento .mobileScreen .screen, .page-product .mobileScreen .screen {
    width: 100%;
  }
  /* line 393, ../sass/pages/_produto.sass */
  .page-segmento .bigScreen, .page-product .bigScreen {
    display: none;
  }
  /* line 396, ../sass/pages/_produto.sass */
  .page-segmento .qualidade, .page-product .qualidade {
    height: 1070px;
  }
  /* line 399, ../sass/pages/_produto.sass */
  .page-segmento .qualidade p, .page-product .qualidade p {
    width: 80%;
  }
  /* line 403, ../sass/pages/_produto.sass */
  .page-segmento .qualidade ul li, .page-product .qualidade ul li {
    width: 70%;
  }
  /* line 407, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul, .page-product .solutions ul {
    position: relative;
  }
  /* line 411, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .icon, .page-product .solutions ul li .main .icon {
    margin: 10px auto;
  }
  /* line 414, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .title h3, .page-product .solutions ul li .main .title h3 {
    font-size: 18px;
  }
  /* line 418, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .text p, .page-product .solutions ul li .main .text p {
    font-size: 17px;
    margin-top: -12px;
  }

  /* line 424, ../sass/pages/_produto.sass */
  .page-product ul.especificacoes li {
    float: none;
    width: 70%;
    margin: 0px auto 20px auto;
  }
  /* line 429, ../sass/pages/_produto.sass */
  .page-product ul.especificacoes li .check {
    display: none;
  }
}
@media (max-width: 400px) {
  /* line 435, ../sass/pages/_produto.sass */
  .page-segmento h1, .page-product h1 {
    line-height: 1.3;
  }
  /* line 438, ../sass/pages/_produto.sass */
  .page-segmento .qualidade, .page-product .qualidade {
    height: 1160px;
  }
  /* line 441, ../sass/pages/_produto.sass */
  .page-segmento .screen, .page-product .screen {
    width: 100%;
    min-height: 260px;
    height: auto;
  }
  /* line 449, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul, .page-product .solutions ul {
    position: relative;
  }
  /* line 452, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main, .page-product .solutions ul li .main {
    padding: 10px 10px;
  }
  /* line 455, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .title h3, .page-product .solutions ul li .main .title h3 {
    margin-left: 10px;
  }
  /* line 459, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li .main .text p, .page-product .solutions ul li .main .text p {
    font-size: 17px;
  }
  /* line 462, ../sass/pages/_produto.sass */
  .page-segmento .solutions ul li a.more, .page-product .solutions ul li a.more {
    font-size: 10px;
    font-size-margin-top: -10px;
  }
}
/* line 1, ../sass/pages/_sobre.sass */
ul.clientes {
  margin: 20px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../sass/pages/_sobre.sass */
ul.clientes li {
  float: left;
  width: 20%;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #5b5b5c;
  font-size: 26px;
  text-align: center;
}
/* line 13, ../sass/pages/_sobre.sass */
ul.clientes li img {
  max-width: 80%;
}
/* line 16, ../sass/pages/_sobre.sass */
ul.clientes li:first-of-type {
  line-height: 126px;
}

/* line 19, ../sass/pages/_sobre.sass */
.page-sobre {
  padding-top: 60px;
}
/* line 23, ../sass/pages/_sobre.sass */
.page-sobre .wrap-parceiros {
  padding: 20px 0px;
  background: #6e0609;
  margin-top: 50px;
}
/* line 29, ../sass/pages/_sobre.sass */
.page-sobre .wrap-parceiros ul li {
  float: left;
  width: 20%;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 26px;
  text-align: center;
}
/* line 38, ../sass/pages/_sobre.sass */
.page-sobre .wrap-parceiros ul li img {
  max-width: 80%;
}
/* line 40, ../sass/pages/_sobre.sass */
.page-sobre .wrap-parceiros ul li:first-of-type {
  line-height: 75px;
}
/* line 43, ../sass/pages/_sobre.sass */
.page-sobre .all-btn {
  background: #a72125;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  display: block;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 56, ../sass/pages/_sobre.sass */
.page-sobre .all-btn:hover {
  background: #7c191c;
}
/* line 59, ../sass/pages/_sobre.sass */
.page-sobre h3 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  color: #a72125;
  text-align: center;
}
/* line 65, ../sass/pages/_sobre.sass */
.page-sobre h3:after {
  content: "";
  height: 1px;
  width: 10%;
  margin: 20px auto;
  background: #a72125;
  display: block;
}
/* line 74, ../sass/pages/_sobre.sass */
.page-sobre .frase {
  padding: 20px 0px;
  width: 100%;
  background: url("../img/faixa-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 60px 0px;
}
/* line 83, ../sass/pages/_sobre.sass */
.page-sobre .frase h2 {
  font-size: 25px;
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  display: block;
  line-height: 1.5;
  margin: 30px auto;
}
/* line 95, ../sass/pages/_sobre.sass */
.page-sobre .frase h4 {
  color: white;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}
/* line 101, ../sass/pages/_sobre.sass */
.page-sobre .title {
  position: absolute;
  left: 0;
  height: 49px;
  width: 50%;
  background: url("../img/vermelho-bg.png") right no-repeat;
}
/* line 109, ../sass/pages/_sobre.sass */
.page-sobre .text {
  width: 48%;
  float: left;
}
/* line 112, ../sass/pages/_sobre.sass */
.page-sobre .text h1 {
  line-height: 49px;
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}
/* line 119, ../sass/pages/_sobre.sass */
.page-sobre .text p {
  margin: 10px 0px;
  line-height: 1.6;
  color: #575757;
  font-size: 15px;
}
/* line 125, ../sass/pages/_sobre.sass */
.page-sobre .img {
  width: 48%;
  float: right;
}
/* line 128, ../sass/pages/_sobre.sass */
.page-sobre .img img {
  width: 100%;
}

@media (max-width: 700px) {
  /* line 133, ../sass/pages/_sobre.sass */
  ul.clientes li {
    float: none;
    margin: 0px auto;
    width: 30%;
  }
  /* line 138, ../sass/pages/_sobre.sass */
  ul.clientes li:first-of-type {
    line-height: 66px;
  }

  /* line 142, ../sass/pages/_sobre.sass */
  .page-sobre .title {
    width: 95%;
  }
  /* line 145, ../sass/pages/_sobre.sass */
  .page-sobre .text {
    width: 78%;
    float: left;
    margin: 0px 11% 40px 11%;
  }
  /* line 150, ../sass/pages/_sobre.sass */
  .page-sobre .img {
    float: none;
    width: 78%;
    margin: 0px auto;
  }
  /* line 157, ../sass/pages/_sobre.sass */
  .page-sobre .wrap-parceiros ul li {
    line-height: 75px;
    float: none;
    margin: 7px auto;
  }
}
@media (max-width: 520px) {
  /* line 164, ../sass/pages/_sobre.sass */
  .page-sobre .all-btn {
    width: 40%;
  }
  /* line 169, ../sass/pages/_sobre.sass */
  .page-sobre .wrap-parceiros ul li {
    width: 25%;
  }
}
@media (max-width: 400px) {
  /* line 175, ../sass/pages/_sobre.sass */
  ul.clientes li {
    width: 45%;
  }

  /* line 180, ../sass/pages/_sobre.sass */
  .page-sobre .frase h2 {
    width: 90%;
  }
  /* line 183, ../sass/pages/_sobre.sass */
  .page-sobre .all-btn {
    width: 75%;
  }
  /* line 188, ../sass/pages/_sobre.sass */
  .page-sobre .wrap-parceiros ul li {
    width: 40%;
  }
}
/* line 1, ../sass/pages/_siab.sass */
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99;
  height: 100%;
}

/* line 11, ../sass/pages/_siab.sass */
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* line 22, ../sass/pages/_siab.sass */
#logostatus {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 35%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* line 34, ../sass/pages/_siab.sass */
.siab-banner {
  background: white;
  text-align: center;
  margin: 20px auto;
}
/* line 39, ../sass/pages/_siab.sass */
.siab-banner img {
  max-width: 80%;
  margin: 80px auto;
  -vendor-animation-duration: 10s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
}
/* line 46, ../sass/pages/_siab.sass */
.siab-banner p {
  color: #6e6e6e;
  font-size: 15px;
  max-width: 400px;
  text-align: center;
  display: block;
  margin: 10px auto;
  line-height: 2;
}

/* line 56, ../sass/pages/_siab.sass */
.page-siab .about {
  padding: 60px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../sass/pages/_siab.sass */
.page-siab .about a.btn {
  margin: 40px 0px;
}
/* line 62, ../sass/pages/_siab.sass */
.page-siab .about h1 {
  font-family: "Oswald", sans-serif;
  color: #a41c20;
  font-size: 30px;
  margin: 30px 0px;
}
/* line 68, ../sass/pages/_siab.sass */
.page-siab .about p {
  color: #959494;
  font-size: 15px;
  line-height: 1.8;
  margin: 10px 0px;
}
/* line 73, ../sass/pages/_siab.sass */
.page-siab .about .img {
  float: left;
  width: 48%;
  text-align: center;
}
/* line 78, ../sass/pages/_siab.sass */
.page-siab .about .img img {
  max-width: 90%;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  -moz-transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3);
}
/* line 83, ../sass/pages/_siab.sass */
.page-siab .about .img img.scaled {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 86, ../sass/pages/_siab.sass */
.page-siab .about .text {
  float: right;
  width: 50%;
  margin-right: -50%;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 92, ../sass/pages/_siab.sass */
.page-siab .about .text.open {
  margin-right: 0;
}
/* line 97, ../sass/pages/_siab.sass */
.page-siab .high-tec {
  background: url("../img/siab/faixa-tecno.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  color: white;
  text-align: center;
  padding: 50px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 107, ../sass/pages/_siab.sass */
.page-siab .high-tec h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  margin: 30px 0px;
}
/* line 112, ../sass/pages/_siab.sass */
.page-siab .high-tec h3 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  margin: 30px 0px;
}
/* line 116, ../sass/pages/_siab.sass */
.page-siab .high-tec h3:after {
  content: "";
  height: 1px;
  width: 20%;
  margin: 40px auto;
  background: white;
  display: block;
}
/* line 124, ../sass/pages/_siab.sass */
.page-siab .high-tec p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  max-width: 480px;
  display: block;
  margin: 20px auto;
}
/* line 132, ../sass/pages/_siab.sass */
.page-siab .perfect {
  padding: 50px 0px;
}
/* line 135, ../sass/pages/_siab.sass */
.page-siab .perfect a.btn {
  margin: 30px 0px;
}
/* line 138, ../sass/pages/_siab.sass */
.page-siab .perfect .img {
  float: right;
  width: 48%;
  text-align: center;
  padding-top: 70px;
  margin-right: -50%;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 147, ../sass/pages/_siab.sass */
.page-siab .perfect .img.open {
  margin-right: 0;
}
/* line 150, ../sass/pages/_siab.sass */
.page-siab .perfect .img img {
  max-width: 90%;
}
/* line 153, ../sass/pages/_siab.sass */
.page-siab .perfect .text {
  float: left;
  width: 50%;
  margin-left: -50%;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 159, ../sass/pages/_siab.sass */
.page-siab .perfect .text.open {
  margin-left: 0;
}
/* line 162, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 164, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul li {
  float: left;
  width: 33.3%;
  padding: 10px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 170, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul li h4 {
  color: #8a8989;
  font-weight: 700;
  font-size: 15px;
  margin: 10px 0px;
}
/* line 176, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul li p {
  color: #8a8989;
  font-size: 13px;
  line-height: 1.6;
}
/* line 182, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul li .icon.bigdata {
  background-position: 0 0;
  width: 35px;
  height: 38px;
}
/* line 186, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul li .icon.redesocial {
  background-position: 0 -373px;
  width: 38px;
  height: 38px;
}
/* line 190, ../sass/pages/_siab.sass */
.page-siab .perfect .text ul li .icon.investigacao {
  background-position: 0 -202px;
  width: 41px;
  height: 41px;
}
/* line 194, ../sass/pages/_siab.sass */
.page-siab .perfect h2 {
  font-family: "Oswald", sans-serif;
  color: #a41c20;
  font-size: 30px;
  margin: 5px 0px;
}
/* line 200, ../sass/pages/_siab.sass */
.page-siab .perfect h3 {
  color: #4b4a4a;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 40px;
}
/* line 207, ../sass/pages/_siab.sass */
.page-siab .configuration h2 {
  font-family: "Oswald", sans-serif;
  color: #a41c20;
  font-size: 30px;
  margin: 5px 0px;
  text-align: center;
}
/* line 215, ../sass/pages/_siab.sass */
.page-siab .configuration .container {
  max-width: 960px;
}
/* line 218, ../sass/pages/_siab.sass */
.page-siab .configuration .infos {
  margin: 50px 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 222, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info {
  margin: 20px 0px;
}
/* line 225, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info h4 {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0px;
}
/* line 230, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info p {
  font-size: 13px;
  color: #8a8989;
  margin: 5px 0px;
}
/* line 234, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info .icon {
  display: inline-block;
  margin: 10px 0px;
}
/* line 237, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info .icon.softbasic {
  background-position: 0 -491px;
  width: 39px;
  height: 39px;
}
/* line 241, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info .icon.softopc {
  background-position: 0 -540px;
  width: 42px;
  height: 41px;
}
/* line 245, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info .icon.hardbasic {
  background-position: 0 -96px;
  width: 42px;
  height: 43px;
}
/* line 249, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .info .icon.hardext {
  background-position: 0 -149px;
  width: 50px;
  height: 43px;
}
/* line 257, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .left, .page-siab .configuration .infos .right {
  float: left;
  width: 25%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40px;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  position: relative;
  overflow: hidden;
}
/* line 269, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .left {
  text-align: right;
}
/* line 272, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .right {
  text-align: left;
}
/* line 276, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .mid {
  width: 50%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
/* line 282, ../sass/pages/_siab.sass */
.page-siab .configuration .infos .mid img {
  max-width: 90%;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 860px) {
  /* line 289, ../sass/pages/_siab.sass */
  .page-siab .perfect a.btn {
    margin: 30px auto;
  }
  /* line 292, ../sass/pages/_siab.sass */
  .page-siab .perfect .text.open {
    float: none;
    width: 100%;
  }
  /* line 296, ../sass/pages/_siab.sass */
  .page-siab .perfect .img.open {
    float: none;
    width: 100%;
  }
}
@media (max-width: 700px) {
  /* line 304, ../sass/pages/_siab.sass */
  .page-siab .about .img {
    display: none;
  }
  /* line 308, ../sass/pages/_siab.sass */
  .page-siab .about .text.open {
    width: 100%;
    float: none;
  }
  /* line 312, ../sass/pages/_siab.sass */
  .page-siab .about a.btn {
    margin: 40px auto;
  }
  /* line 317, ../sass/pages/_siab.sass */
  .page-siab .configuration .infos .mid {
    display: none;
  }
  /* line 320, ../sass/pages/_siab.sass */
  .page-siab .configuration .infos .left, .page-siab .configuration .infos .right {
    text-align: center;
    width: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 520px) {
  /* line 327, ../sass/pages/_siab.sass */
  .page-siab h3 {
    line-height: 1.3;
  }
  /* line 331, ../sass/pages/_siab.sass */
  .page-siab .perfect h2 {
    line-height: 1.3;
  }
}
@media (max-width: 400px) {
  /* line 339, ../sass/pages/_siab.sass */
  .page-siab .perfect .text ul li {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
}
