.page-articles
  padding-top: 60px
  ul li
    width: 23%
    margin: 10px 1%
    background: red
    float: left
    padding: 10px
    background: url('../img/artigo-holder.jpg')
    background-size: cover
    min-height: 300px
    +box-sizing(border-box)
    position: relative

    a
      color: #fff
      display: block
      height: 100%
      max-height: 350px
      +box-sizing(border-box)

      .text
        position: absolute
        top: 150px
        z-index: 999

      &:hover
        &:after
          background: rgba(167,33,37,0.6)
          width: 100%
          height: 100%
          z-index: 9

          display: block
          content: ''
          position: absolute
          top: 0
          left: 0

    .category
      margin: 20px 0px
      z-index: 9999999
      span
        font-size: 13px
        color: #303030
        background: #f5f5f4
        padding: 5px

    h2
      font-size: 22px
      font-family: $oswald
      line-height: 1.3
      z-index: 9999999

    h4
      font-size: 13px
      font-weight: 300
      margin: 10px 0px
      z-index: 9999999

+media-query(large)
  .page-articles
    ul
      li
        width: 31%

        a
          .text
            top: 110px


+media-query(medium)
  .page-articles
    ul
      li
        width: 42%
        margin: 10px 4%


+media-query(med)
  .page-articles
    ul
      li
        width: 44%
        margin: 10px 3%

        h2
          font-size: 20px

        h4
          margin: 6px 0px


+media-query(small)
  .page-articles
    ul
      li
        float: none
        width: 70%
        margin: 50px auto


+media-query(supersmall)
  .page-articles
    ul
      li
        width: 90%