.article-banner
  background: url('../img/banner/artigo-bg.jpg') top no-repeat
  background-attachment: fixed

  .back-button
    background: rgba(255,255,255,0.6)
    padding: 5px 10px
    color: #525251
    position: absolute
    font-size: 13px
    top: 0px
    left: 10px
    +transition(0.3s ease-out)

    &:hover
      background: #fff
    i.back
      @include little-sprite(back)
      width: little-sprite-width(back)
      height: little-sprite-height(back)
      display: inline-block
      margin-bottom: 3px


  .center
    width: 60%

    margin: 0 auto
    max-width: 450px

  h1
    text-align: left
    width: 60%
    margin: 10px auto
    max-width: 450px
    margin-top: 50px
    display: block
    text-transform: uppercase
    line-height: 1.3

    &:after
      margin: 20px 0px
      width: 20%

  .category
    margin: 0px
    float: left

    span
      font-size: 13px
      color: #303030
      background: #f5f5f4
      padding: 0 5px
      line-height: 1

  h4
    font-size: 13px
    font-weight: 300
    margin: 10px 0px
    color: white
    float: left
    margin: 0 15px


.page-article

  .firula
    text-align: center
    padding: 30px 0px

  p
    margin: 30px 0px
    font-weight: 300
    color: #313030
    font-size: 15px
    line-height: 1.6
    width: 100%

  h2
    font-size: 25px
    font-weight: 600
    margin: 20px 0px
    color: #313030

  ul
    padding-left: 50px
    color: #313030
    margin: 30px 0px

    li

      font-weight: 300
      font-size: 15px
      margin: 10px 0px

  .container
    padding: 50px
    max-width: 960px
    margin-top: 10px
    +box-shadow(0px 3px 22px 0px rgba(0, 0, 0, 0.3))

+media-query(small)
  .page-article
    .container
      width: 80%

  .article-banner
    h1
      width: 80%
      font-size: 22px
      text-align: center

      &:after
        margin: 20px auto

    h4
      float: none
      margin: 10px 15px

    .category
      float: none

  .page-article
    .container
      width: 75%


