section.banner
  background: url('../img/banner/home.jpg') top center no-repeat
  background-attachment: fixed
  height: 80vh
  width: 100%
  margin-top: 10px
  border-bottom: 5px solid #f5f5f4
  .seta
    width: 100%
    text-align: center
    margin: 0 auto
    display: block
    height: 20px
    border-bottom: 1px solid #ababab
    padding: 5px
    +box-sizing(border-box)

    .circle
      +border-radius(200px)
      width: 30px
      height: 30px
      background: #fff
      border: 1px solid #ababab
      border-top: 0
      margin: 10px auto

    span
      @include little-sprite(seta)
      width: little-sprite-width(seta)
      height: little-sprite-height(seta)
      display: inline-block
      margin-top: 12px

  .container
    width: 100%
    max-width: none
    // Para centralizar
    // width: 90%
    // max-width: 1400px

  .slice
    width: 25%
    float: left
    height: 100%
    background: trasparent
    border-left: 10px solid white
    +box-sizing(border-box)
    +transform(skew(20deg))
    padding-top: 40px
    cursor: pointer



    &:hover
      background: rgba(0,0,0,0.3)


    &:first-of-type
      border-left: 0

    div
      width: 50%
      margin: 0 auto
      +transform(skew(-20deg))
      padding-top: 20vh

      h1
        color: #f5f5f4
        font-size: 30px
        font-family: $oswald
        text-align: center
        line-height: 1.4

        &:after
          content: ''
          height: 1px
          width: 30%
          margin: 10px auto
          background: white
          display: block

      h3
        font-size: 15px
        color: #f5f5f4
        text-align: center
        margin-left: 20px
        line-height: 1.4
        font-weight: 300


section.more
  margin-top: 90px
  +clearfix
  .container
    max-width: none
    width: 100%
  .portfolio
    background: url('../img/portfolio.png') right no-repeat
    background-size: cover
    width: 40%
    height: 130px
    padding: 0px 25px
    color: #f5f5f4
    text-align: right
    float: left
    +box-sizing(border-box)

    a
      color: #f5f5f4
      line-height: 130px
      font-family: $oswald
      font-weight: 600
      font-size: 24px

  .sobre
    float: left
    width: 20%
    text-align: center
    padding: 0px 20px
    +box-sizing(border-box)

    h1
      color: #990000
      font-size: 25px
      font-family: $oswald

      &:after
        content: ''
        height: 1px
        width: 30%
        margin: 20px auto
        background: #666666
        display: block

    h2
      font-size: 15px
      color: #666666
      line-height: 1.4


  .artigos
    background: url('../img/artigos.png') left no-repeat
    background-size: cover
    width: 40%
    height: 130px
    padding: 0px 25px
    color: #f5f5f4
    text-align: left
    float: right
    +box-sizing(border-box)

    a
      color: #f5f5f4
      line-height: 130px
      font-family: $oswald
      font-weight: 600
      font-size: 24px

+media-query(large)
  section.banner
    .slice
      div
        h1
          font-size: 25px

        h3
          font-size: 12px

+media-query(medium)
  section.banner
    height: auto

    .slice 
      +transform(skew(0deg))
      float: none
      width: 100%
      border-left: 0px

      &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
        +box-shadow(0px 0px 7px 1px rgba(0,0,0,0.3))
        border-top: 10px #fff solid

+media-query(med)
  section.more
    .portfolio
      float: none
      width: 100%

    .sobre
      float: none
      width: 50%
      margin: 60px auto

    .artigos
      float: none
      width: 100%

+media-query(supersmall)
  section.more
    .sobre
      float: none
      width: 70%
      margin: 60px auto