.page-portfolio
  padding-top: 90px

  .searchBox
    background: url('../img/portfolio/seachinabox-bg.jpg') no-repeat center
    background-size: cover
    height: 144px
    width: 100%
    margin: 50px 0px

    h3
      float: left
      width: 30%
      +box-sizing(border-box)
      text-align: center
      line-height: 144px
      font-size: 30px
      font-family: $oswald
      color: white

    p
      float: left
      width: 50%
      +box-sizing(border-box)
      margin: 30px auto
      color: white
      font-weight: 300
      font-size: 15px
      padding: 10px 40px

    a
      float: left
      display: block
      width: 17%
      +box-sizing(border-box)
      background: white
      color: #660606
      font-size: 15px
      padding: 20px
      text-align: center
      font-weight: 700
      margin-top: 45px
      +transition(0.3s ease-out)
      border: 2px solid white

      &:hover
        background: #660606
        color: white
ul.produtos
  +clearfix
  li
    width: 25%
    margin: 20px 4%
    float: left
    +box-sizing(border-box)
    border: 1px solid #828282
    position: relative


    a
      padding: 15px 45px
      display: block
      width: 100%
      +box-sizing(border-box)
      +transition(0.3s ease-out)
      background: white

      &:hover
        background: #a51f24

        .icon img
          +rotateZ(360deg)


        h2, p
          color: #fefefe

        .seta i.icon-arrow
          @include little-sprite(arrow-white)
          width: little-sprite-width(arrow-white)
          height: little-sprite-height(arrow-white)


    h2
      font-size: 25px
      font-family: $oswald
      color: #a62024
      margin-bottom: 20px

    p
      color: #292929
      font-size: 15px
      font-weight: 300

    .seta
      display: block
      position: absolute
      right: 10px
      top: 45%
      +transition(0.3s ease-out)


      i.icon-arrow
        display: block
        @include little-sprite(arrow-grey)
        width: little-sprite-width(arrow-grey)
        height: little-sprite-height(arrow-grey)

    .icon
      position: absolute
      top: 50%
      margin-top: -30px
      height: 60px
      width: 60px
      +border-radius(300px)
      border: 1px solid #828282
      left: -30px
      background: #fff
      text-align: center

      img
        margin: 14px 0
        +transition(0.3s ease-out)

+media-query(medium)
  ul.produtos
    li
      width: 30%
      margin: 50px 10%

  .page-portfolio
    .searchBox
      h3
        font-size: 24px

      p
        margin: 12px auto
        font-size: 14px

      a
        font-size: 12px
        width: 14%


+media-query(med)
  ul.produtos
    li
      float: none
      width: 60%
      margin: 50px auto

  .page-portfolio
    .searchBox
      height: 304px

      h3
        float: none
        width: 100%
        margin: 0px auto
        height: 90px

      p
        width: 100%
        float: none

      a
        padding: 20px
        width: 50%
        float: none
        margin: 0px auto

+media-query(med)
  ul.produtos
    li
      width: 80%

+media-query(supersmall)
  .page-portfolio
    .searchBox
      height: 344px

      a
        width: 70%