.page-segmento



  .solutions
    max-width: 900px
    margin: 0 auto
    .carousel
      +clearfix
    .visible
      position: relative
      width: 80%
      float: left
      overflow: hidden
      height: 190px

    .arrow-nav
      float: right
      width: 20%
      padding-top: 30px



      .prev, .next
        @include small-sprite(setainativa)
        width: small-sprite-width(setainativa)
        height: small-sprite-height(setainativa)
        cursor: pointer
        margin: 20px auto
        +transition(0.3s ease-out)

        &.active
          @include small-sprite(setaativa)
          width: small-sprite-width(setaativa)
          height: small-sprite-height(setaativa)

        &.next
          +rotateZ(180deg)





    ul
      position: absolute
      top: 0
      +transition(0.3s ease-out)
      li
        background: #dbdbdb
        margin-bottom: 20px

        a
          color: #4e4d4d

        .main
          padding: 20px 10px
          +clearfix

          .title
            float: left
            width: 30%

            h3
              display: block
              font-family: $oswald
              color: #a41d20
              font-size: 24px
              margin-left: 28px


            p
              display: inline-block
              max-width: 700px
              font-size: 14px
              color: #4e4d4d


          .icon
            background: #fff
            text-align: center
            display: block
            +border-radius(200px)
            margin: 20px auto
            width: 60px
            height: 60px
            img
              margin: 14px auto

          .text
            float: right
            width: 70%
            +box-sizing(border-box)
            padding: 10px 20px







        a.more
          background: #c2c2c2
          padding: 5px 10px
          text-align: right
          font-weight: 700
          color: #7d7d7d
          display: block
          text-decoration: none
          +transition(0.3s ease-out)

          &:hover
            background: #7d7d7d
            color: #c2c2c2





  .essencial
    margin: 70px 0px
    +clearfix
    a
      background: white
      color: #a41d20
      border: 3px solid #a41d20
      margin: 50px auto
      display: block
      padding: 15px
      text-align: center
      width: 60%
      max-width: 250px
      font-weight: 700
      +transition(0.3s ease-out)

      &:hover
        background: #a41d20
        color: white

    ul
      +clearfix
      margin: 50px 0px
      li
        float: left
        width: 30%
        margin: 10px 1.5%

        .num
          display: inline-block
          font-size: 143px
          font-weight: 700
          color: #a41d21
          position: relative
          +scale(0.2)
          +transition(0.3s ease-out)

          &.open
            +scale(1)
          &:after
            content: ''
            height: 25px
            width: 25px
            display: block
            background: #a41d21
            border: 4px solid white
            right: -4px
            +border-radius(100px)
            bottom: 10px
            position: absolute

        p
          display: inline-block
          width: 200px
          margin-left: 20px
          font-size: 15px
          color: #5c5a5a


.page-product, .page-segmento
  padding: 60px 0px

  &.page-segmento
    padding: 60px 0px 10px


  .screenbg
    height: 300vh
    position: relative

  a.button
    background: #a41d21
    color: white
    padding: 20px
    display: block
    font-size: 15px
    text-align: center
    width: 60%
    max-width: 200px
    margin: 60px auto

  ul.especificacoes
    +clearfix
    li
      float: left
      width: 25%
      +box-sizing(border-box)
      padding: 20px
      text-align: center
      color: #434141
      font-weight: 300

      .check
        @include small-sprite(check)
        width: small-sprite-width(check)
        height: small-sprite-height(check)
        display: block
        margin: 10px auto
        +transition(0.3s ease-out)

        &.disabled
          +scale(0)

      h2
        font-weight: 600
        font-size: 15px
        color: #434141
        margin: 20px 0px

  .qualidade
    background: url('../img/produto-bg.jpg') center
    background-attachment: fixed
    background-size: cover
    margin: 60px 0px
    padding: 90px 0px 20px
    min-height: 70vh


    ul
      +clearfix
      margin: 0 auto
      display: block
      width: 80%
      li
        float: left
        margin: 0px 1.5%
        width: 30%
        text-align: center

    h1
      color: white

    p
      color: white
      width: 60%
      max-width: 600px
      text-align: center
      margin: 60px auto
      font-weight: 300
      line-height: 1.7

  h1
    font-size: 30px
    color: #a41d20
    font-family: $oswald
    text-align: center
    margin: 30px auto

  .scroll-arrows
    width: 27px
    height: 85px
    background: url('../img/scroll-arrows.png')
    margin: 60px auto
  .screen
    background: #333333
    border: 20px solid #c0bfbc
    +border-radius(15px)
    padding: 20px
    width: 420px
    height: 260px
    +box-sizing(border-box)
    margin: 0 auto

    .black
      background: #333333
      color: #5e5d5d
      font-family: Courier
      font-size: 17px

      p
        line-height: 2

  .typed-cursor
    display: none

  .screenBase
    background: url('../img/product-base.png') center
    max-width: 100%
    width: 736px
    height: 74px
    margin: 0 auto


+media-query(med)
  .page-segmento, .page-product
    .essencial
      ul
        li
          float: none
          margin: 0px auto 49px auto
          text-align: center
          width: 180px

          p
            margin-left: 0px
    
    .qualidade
      height: 1000px
      ul
        li
          float: none
          margin: 0px auto 30px auto
          width: 50%

    .solutions
      ul
        li
          .main
            .title
              h3
                font-size: 18px

            .text
              p
                font-size: 15px

+media-query(small)
  .page-segmento, .page-product
    .qualidade
      height: 1070px

      p
        width: 80%

      ul
        li
          width: 70%

    .solutions
      ul
        li
          .main
            .title
              h3
                font-size: 14px

            .text
              p
                font-size: 13px
                margin-top: -12px

  .page-product
    ul.especificacoes
      li
        float: none
        width: 70%
        margin: 0px auto 20px auto

        .check
          display: none

+media-query(supersmall)
  .page-segmento, .page-product

    h1
      line-height: 1.3

    .qualidade
      height: 1160px

    .screen
      width: 100%
      height: 340px

    .solutions
      ul
        li
          .main
            padding: 10px 10px
            .title
              h3
                margin-left: 10px

            .text
              p
                font-size: 10px

          a.more
            font-size: 10px
              margin-top: -10px