
html, body
	width: 100%
	overflow-x: hidden
	padding: 0
	margin: 0

.container
	margin: 0 auto

h1, h2, h3, h4, h5
	font-family: $bold
 
a
	text-decoration: none

p
	line-height: 1.4

a.btn
	background: #a41c20
	color: white
	border: 3px solid #a41c20
	font-size: 15px
	padding: 15px
	display: block
	text-align: center
	max-width: 250px
	width: 70%
	margin: 40px auto
	+transition(0.3s ease-out)
	font-weight: 700
	display: block

	&:hover
		background: white
		color: #a41c20

.fixheader
	position: fixed
	top: -100vh
	width: 100%
	z-index: 9999999
	display: block
	+transition(0.3s ease-out)

.wrapper
	width: 100%
	display: none
	position: fixed
	top: 0
	z-index: 999999

.mobile-head
	height: 60px
	width: 100%
	background: #fff
	+box-shadow(1px 0px 9px 1px rgba(0,0,0,0.5))

	.menu-link
		@include small-sprite(menuvermelho)
		width: small-sprite-width(menuvermelho)
		height: small-sprite-height(menuvermelho)
		cursor: pointer
		+transition(0.3s ease-out)
		float: right
		margin: 13px 0px
	img
		max-height: 60px
	.mobile-logo
		float: left



+media-query(large)
	.wrapper
		display: block






	body
		padding-top: 63px


header
	// background-color: #d9656a // Old browsers
	// @include filter-gradient(#d9656a, #a41d21, vertical)
	// @include background-image(linear-gradient(top, #d9656a 0%,#a41d21 100%))
	background: #f5f5f4
	+box-sizing(border-box)
	+box-shadow(1px 0px 9px 1px rgba(0,0,0,0.5))
	height: 78px

	.container
		overflow: visible



	.mobile-close
		position: absolute
		top: 0px
		right: 0px
		display: none

		@include small-sprite(menu)
		width: small-sprite-width(menu)
		height: small-sprite-height(menu)
		cursor: pointer
		+transition(0.3s ease-out)

	.logo
		float: left
		width: 20%

		img
			width: 100%
			min-width: 121px
			max-width: 242px
			text-align: center
			max-height: 100%

	.hLogo
		width: 20%
		display: inline-block
		text-align: center

		img
			height: 100%


	nav
		float: right
		width: 79%
		height: 100%

		div, .menu-main_pt-container, .menu-main_en-container
			display: inline-block

		.languages
			display: inline-block
			background-color: #d9656a // Old browsers
			@include filter-gradient(#d9656a, #a41d21, vertical)
			@include background-image(linear-gradient(top, #d9656a 0%,#a41d21 100%))
			position: relative
			padding: 0 5px
			max-height: 100%

			&:after
				width: 100vw
				height: 80px
				right: -100vw
				top: 0
				background-color: #d9656a // Old browsers
				@include filter-gradient(#d9656a, #a41d21, vertical)
				@include background-image(linear-gradient(top, #d9656a 0%,#a41d21 100%))
				position: absolute
				content: ''
				display: block

			div
				display: inline-block
				margin: 0px 5px
				padding: 0px 5px
				color: #f5f5f5
				line-height: 80px
				font-size: 10px

				span
					padding: 2px 7px
					border: 2px solid #f5f5f5
					+border-radius(5px)
					cursor: pointer
					+transition(0.3s ease-out)

					&:hover
						background: white
						color: #d9656a

		ul
			display: inline-block
			li
				display: inline-block
				line-height: 60px
				font-size: 13px
				margin: 0 5px
				font-family: $bold
				height: 100%

				a
					text-decoration: none
					color: #4d4c4c
					padding: 0px 10px
					font-family: $light
					height: 100%
					display: block
					line-height: 78px
					+transition(0.1s ease-out)
					background: #f5f5f4

					&.active, &:hover
						color: #fafafa

						background-color: #d9656a // Old browsers
						@include filter-gradient(#d9656a, #a41d21, vertical)
						@include background-image(linear-gradient(top, #d9656a 0%,#a41d21 100%))

+media-query(large)

	.preheader
		display: none

	header
		right: -100%
		position: fixed
		height: 100%
		background: #cdcdce
		z-index: 999999999
		top: 0
		width: 70%
		padding-top: 20px
		+transition(0.3s ease-out)

		&.aberto
			right: 0

		.mobile-close
			display: block

		.hLogo
			display: none

		.logo


			img
				padding: 10px
				width: 70%
				margin: 30px


		nav
			display: block
			width: 100%

			.languages
				display: block
				background: none
				&:after
					display: none

				div
					color: #454545

					span
						border: 2px solid #454545

						&:hover
							background: #454545
							color: #f5f5f5

			ul
				margin-top: 30px
				display: block
				li
					display: block
					height: 50px
					background: #cdcdce

					a
						display: block
						width: 100%
						font-size: 20px
						text-align: left
						padding: 0px 5px
						background: #cdcdce
						margin: 0
						line-height: 50px

						&:hover
							background: darken(#cdcdce, 10%)
							color: #4d4c4c


.container
	width: 90%
	max-width: 1060px
	margin: 0 auto
	display: block
	position: relative
	+clearfix

button
	padding: 14px 20px
	cursor: pointer
	border: none
	background: $verde
	color: white
	font-family: $light
	font-size: 14px
	&:hover
		span
			margin-left: 10px

	span
		color: $amarelo
		margin-left: 5px
		+transition(0.3s ease-out)


a
	cursor: pointer







.footer
	position: relative
	margin-top: 40px
	padding-top: 15px

	.brasil
		width: 25%
		padding-top: 10px
		+box-sizing(border-box)
		background: #dcdada
		+box-shadow(0px 2px 7px 1px rgba(0,0,0,0.3))
		height: 10px
		margin-left: 25%
footer
	+background-image(linear-gradient(left, #eceaea 50%, #dcdada 50%))
	+clearfix
	color: #454444

	a
		color: #454444

		p
			font-size: 11px
			margin-top: 23px
			margin-bottom: -30px

		&:hover
			text-decoration: underline

	.quarto
		float: left
		width: 25%
		padding-top: 25px
		+box-sizing(border-box)
		padding: 20px
		text-align: center
		background: #eceaea


		min-height: 230px

		.info
			display: block
			+clearfix
			width: 100%
			position: relative
			margin: 10px 0px
			.icon
				float: left
				width: 20px

				i.icon-tel
					@include little-sprite(fone)
					width: little-sprite-width(fone)
					height: little-sprite-height(fone)
					display: inline-block

				i.icon-pin
					@include little-sprite(pin)
					width: little-sprite-width(pin)
					height: little-sprite-height(pin)
					display: inline-block

			.text
				float: right
				width: calc(100% - 20px)
				text-align: left
				font-size: 13px
				p
					margin: 5px 0px

				p:first-of-type
					margin: 0


		h2
			font-family: $oswald
			text-align: left
			font-size: 18px

			&:after
				content: ''
				height: 1px
				width: 30%
				margin: 20px 0 40px 0px
				background: #666666
				display: block

			span
				font-size: 12px

		&:first-of-type
			&:after
				width: 100vw
				height: 78px
				right: -100vw
				top: 0
				background-color: #eceaea
				position: absolute
				content: ''
				display: block

		&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
			background: #dcdada
			+box-shadow(inset 5px -1px 7px -4px rgba(0,0,0,0.3))

		&:nth-of-type(2)
			padding-top: 10px
			+box-shadow(0px 0px 7px 1px rgba(0,0,0,0.3))



		ul
			li
				font-size: 13px
				text-align: left
				margin: 10px 0px


		i.mail
			@include little-sprite(mail)
			width: little-sprite-width(mail)
			height: little-sprite-height(mail)
			display: inline-block




.copyright
	color: #fff
	font-size: 12px
	text-align: center
	padding: 10px
	background: #3e3e3e

	a
		text-decoration: underline
		font-weight: 700
		color: #fff
.modal
	position: fixed
	width: 100vw
	height: 100vh
	display: block
	z-index: 9999999
	top: 0
	left: -100vw
	+clearfix
	background: rgba(255,255,255,0.4)
	padding: 30px 0px
	+transition(0.3s ease-out)


	.container
		min-height: 50%
		background: #3e3e3e
		padding: 50px 50px
		+box-sizing(border-box)

		.text
			.div-detalhes
				margin-top: 50px

				h2
					font-size: 20px
					margin-top: 60px

				p
					font-size: 13px
					font-weight: 100

			.buttonModal
				background: white
				color: #3e3e3e
				padding: 20px
				display: block
				font-size: 15px
				text-align: center
				width: 60%
				max-width: 200px
				margin: 60px auto
				font-weight: 700


		h2
			font-size: 35px
			font-family: $oswald
			text-transform: uppercase
			margin: 20px 0px
			color: #fdfdfd
			text-align: center

		.divisao
			height: 1px
			width: 15%
			background: #fafafa
			margin: 30px auto 30px auto
			display: block


		p
			font-family: $light
			color: #fefefe
			font-size: 16px
			margin: 20px 1.5%


		ul
			margin: 20px 0px
			li
				margin: 10px 0px
				font-family: $bold
				color: #fdfdfd

		.form
			width: 100%
			padding-top: 40px
			margin: 0 auto

			.error
				color: #a51f24
				display: block
				font-weight: 700

			.fields
				+clearfix

				&.fieldsCV
					.field
						width: 100%
						margin: 0

						button
							width: 40%
							float: right
							line-height: 1.5

				.field
					float: left
					width: 30.3%
					margin: 0 1.5%

					.error
						display: block
						color: white


					input[type="file"]
						color: white
						position: absolute
						clip: rect(0px, 0px, 0px, 0px)
						display: block

					.labelFile
						color: #fafafa
						float: right
						background-color: #1f1f1d
						padding: 12px
						border: 2px solid #fafafa
						margin: 20px 0px
						display: inline-block
						margin-bottom: 0
						font-weight: 400
						text-align: center
						vertical-align: middle
						cursor: pointer
						background-image: none
						white-space: nowrap
						font-size: 15px
						text-transform: uppercase
						line-height: 1.5
						-webkit-user-select: none
						-moz-user-select: none
						-ms-user-select: none
						user-select: none
						overflow: hidden
						max-width: 43%
				
				input

					padding: 5px
					+box-sizing(border-box)
					font-size: 18px
					&::-webkit-input-placeholder
						color: #1f1f1d


					&:-moz-placeholder
						color: #1f1f1d


					&::-moz-placeholder
						color: #1f1f1d


					&:-ms-input-placeholder
						color: #1f1f1d


			.textarea
				display: block
				textarea
					width: 97%
					margin: 10px 1.5%
					display: block
					height: 100px
					resize: none
					padding: 15px
					color: #1f1f1d
					font-family: $light
					+box-sizing(border-box)
					font-size: 18px

					&::-webkit-input-placeholder
						color: #1f1f1d


					&:-moz-placeholder
						color: #1f1f1d


					&::-moz-placeholder
						color: #1f1f1d


					&:-ms-input-placeholder
						color: #1f1f1d

			input, label
				display: block

			label
				font-family: $light
				color: white

			input
				height: 55px
				width: 100%
				color: #1f1f1d
				font-family: $light
				margin: 5px 0px 15px 0px

			button
				background: #a51f24
				color: #fafafa
				width: 30%
				float: right
				margin: 20px 1.5%
				border: 2px solid #a51f24
				+transition(0.3s ease-out)

				&:hover
					background: darken(#a51f24, 10%)

	.close-light, .close-pi
		background: white
		color: #1f1f1d
		+border-radius(5px)
		font-size: 20px
		border: 1px solid white
		display: block
		padding: 5px 13px
		position: absolute
		right: 10px
		top: 10px
		font-family: $bold
		font-size: 30px
		cursor: pointer

		&:hover
			background: white
			color: #738c1a

+media-query(medium)

	.modal
		.container
			.text
				ul
					display: none

				h2
					font-size: 20px

				p
					font-size: 13px



			.form
				padding-top: 10px
				.fields
					.field
						width: 100%
						input
							height: 40px
							margin-bottom: 8px


.title-banner, .article-banner
	margin-top: 8px
	height: 330px
	width: 100%
	background: url('../img/banner/artigos.jpg') top no-repeat
	background-size: cover
	background-attachment: fixed
	+box-sizing(border-box)
	padding-top: 50px
	text-align: center

	a.button
		background: white
		color: #b74b4e
		padding: 15px
		font-weight: 700
		font-size: 15px
		display: block
		margin: 30px auto
		width: 40%
		border: 2px solid white
		max-width: 250px
		+transition(0.3s ease-out)

		&:hover
			background: #b74b4e
			color: white

	.back-button
		background-image: url('../img/voltar-btn.png')
		height: 13px
		width: 94px
		padding: 5px 10px
		color: #525251
		position: absolute
		font-size: 13px
		top: 0px
		left: 10px
		+transition(0.3s ease-out)


		i.back
			@include little-sprite(back)
			width: little-sprite-width(back)
			height: little-sprite-height(back)
			display: inline-block
			margin-bottom: 3px

	h1
		font-size: 30px
		font-family: $oswald
		color: #fff

		&:after
			content: ''
			height: 1px
			width: 10%
			margin: 20px auto
			background: #fff
			display: block

	h2
		font-size: 15px
		font-weight: 300
		color: #fff
		max-width: 30%
		margin: 0 auto
		display: block
		line-height: 1.4

	.container
		height: 280px

.title-banner, .article-banner, .siab-banner
	.seta
		width: 100%
		text-align: center
		margin: 0 auto
		display: block
		height: 10px
		border-bottom: 1px solid #ababab
		padding: 5px
		+box-sizing(border-box)

		.circle
			+border-radius(200px)
			width: 30px
			height: 30px
			background: #fff
			border: 1px solid #ababab
			border-top: 0
			margin: 1px auto
			cursor: pointer

			span
				@include little-sprite(seta)
				width: little-sprite-width(seta)
				height: little-sprite-height(seta)
				display: inline-block
				margin-top: 12px

+media-query(large)
	footer
		.quarto
			ul
				li
					font-size: 10px

		.info
			.text
				p
					font-size: 11px


+media-query(med)
	.footer
		.brasil
			display: none

	footer
		.container
			width: 100%

		.quarto
			float: none
			width: 100%
			display: block
			ul
				li
					font-size: 10px

			&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
				padding-top: 30px
				+box-shadow(0px 0px 7px 1px rgba(0,0,0,0.3))

			.info
				.text
					p
						font-size: 11px


+media-query(small)
	.title-banner, .article-banner, .siab-banner
		h2
			max-width: 60%


+media-query(supersmall)
	.title-banner-alt

		a.button
			width: 50%

		padding-top: 0px

		.back-button
			margin-top: 13px

		.title-segmento
			margin-top: 52px
		.seta-segmento
			margin-top: 50px
