#preloader
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #fefefe
  z-index: 99
  height: 100%

#status
  width: 200px
  height: 200px
  position: absolute
  left: 50%
  top: 50%
  background-image: url('../img/ajax-loader.gif')
  background-repeat: no-repeat
  background-position: center
  margin: -100px 0 0 -100px

#logostatus
  width: 200px
  height: 200px
  position: absolute
  left: 50%
  top: 35%
  background-image: url('../img/logo.png')
  background-repeat: no-repeat
  background-position: center
  margin: -100px 0 0 -100px


.siab-banner
  background: white
  text-align: center
  margin: 20px auto

  img
    max-width: 80%
    margin: 80px auto
    -vendor-animation-duration: 10s
    -vendor-animation-delay: 1s
    -vendor-animation-iteration-count: infinite

  p
    color: #6e6e6e
    font-size: 15px
    max-width: 400px
    text-align: center
    display: block
    margin: 10px auto
    line-height: 2

.page-siab
  .about
    padding: 60px 0px
    +clearfix

    a.btn
      margin: 40px 0px
    h1
      font-family: $oswald
      color: #a41c20
      font-size: 30px
      margin: 30px 0px

    p
      color: #959494
      font-size: 15px
      line-height: 1.8
      margin: 10px 0px
    .img
      float: left
      width: 48%
      text-align: center

      img
        max-width: 90%
        +transition(0.3s ease-out)
        +scale(0.3)

        &.scaled
          +scale(1)
          +rotateZ(180deg)
    .text
      float: right
      width: 50%
      margin-right: -50%
      +transition(0.3s ease-out)

      &.open
        margin-right: 0



  .high-tec
    background: url('../img/siab/faixa-tecno.jpg')
    background-size: cover
    background-attachment: fixed
    min-height: 300px
    color: white
    text-align: center
    padding: 50px 0px
    +box-sizing(border-box)

    h2
      font-size: 30px
      font-family: $oswald
      margin: 30px 0px

    h3
      font-size: 60px
      font-family: $oswald
      margin: 30px 0px
      &:after
        content: ''
        height: 1px
        width: 20%
        margin: 40px auto
        background: white
        display: block

    p
      font-size: 15px
      font-weight: 300
      line-height: 1.8
      max-width: 480px
      display: block
      margin: 20px auto

  .perfect
    padding: 50px 0px

    a.btn
      margin: 30px 0px

    .img
      float: right
      width: 48%
      text-align: center
      padding-top: 70px
      margin-right: -50%
      +transition(0.3s ease-out)


      &.open
        margin-right: 0

      img
        max-width: 90%

    .text
      float: left
      width: 50%
      margin-left: -50%
      +transition(0.3s ease-out)

      &.open
        margin-left: 0

      ul
        +clearfix
        li
          float: left
          width: 33.3%
          padding: 10px 20px
          +box-sizing(border-box)

          h4
            color: #8a8989
            font-weight: 700
            font-size: 15px
            margin: 10px 0px

          p
            color: #8a8989
            font-size: 13px
            line-height: 1.6

          .icon
            &.bigdata
              @include small-sprite(bigdata)
              width: small-sprite-width(bigdata)
              height: small-sprite-height(bigdata)
            &.redesocial
              @include small-sprite(redesocial)
              width: small-sprite-width(redesocial)
              height: small-sprite-height(redesocial)
            &.investigacao
              @include small-sprite(investigacao)
              width: small-sprite-width(investigacao)
              height: small-sprite-height(investigacao)
    h2
      font-family: $oswald
      color: #a41c20
      font-size: 30px
      margin: 5px 0px

    h3
      color: #4b4a4a
      font-size: 15px
      line-height: 1.8
      margin-bottom: 40px

  .configuration
    h2
      font-family: $oswald
      color: #a41c20
      font-size: 30px
      margin: 5px 0px
      text-align: center


    .container
      max-width: 960px

    .infos
      margin: 50px 0px
      +clearfix

      .info

        margin: 20px 0px
        h4
          color: #4a4a4a
          font-size: 15px
          font-weight: 700
          margin: 10px 0px
        p
          font-size: 13px
          color: #8a8989
          margin: 5px 0px
        .icon
          display: inline-block
          margin: 10px 0px
          &.softbasic
            @include small-sprite(softbasic)
            width: small-sprite-width(softbasic)
            height: small-sprite-height(softbasic)
          &.softopc
            @include small-sprite(softopc)
            width: small-sprite-width(softopc)
            height: small-sprite-height(softopc)
          &.hardbasic
            @include small-sprite(hardbasic)
            width: small-sprite-width(hardbasic)
            height: small-sprite-height(hardbasic)
          &.hardext
            @include small-sprite(hardext)
            width: small-sprite-width(hardext)
            height: small-sprite-height(hardext)




      .left, .right
        float: left
        width: 25%
        +box-sizing(border-box)
        padding-top: 40px
        +transition(0.3s ease-out)
        position: relative
        overflow: hidden




      .left
        text-align: right

      .right
        text-align: left


      .mid
        width: 50%
        float: left
        +box-sizing(border-box)

        text-align: center
        img
          max-width: 90%
          +rotateZ(180deg)

+media-query(medium)
  .page-siab
    .perfect
      a.btn
        margin: 30px auto

      .text.open
        float: none
        width: 100%

      .img.open
        float: none
        width: 100%

+media-query(med)
  .page-siab

    .about
      .img 
        display: none

    .about
      .text.open
        width: 100%
        float: none

      a.btn
        margin: 40px auto

    .configuration
      .infos
        .mid
          display: none

        .left, .right
          text-align: center
          width: 100%
          padding-top: 0px

+media-query(small)
  .page-siab
    h3
      line-height: 1.3

    .perfect
      h2
        line-height: 1.3

+media-query(supersmall)
  .page-siab
    .perfect
      .text
        ul
          li
            float: none
            width: 100%
            margin-bottom: 30px