ul.clientes
  margin: 20px 0px
  +clearfix
  li
    float: left
    width: 20%
    font-family: $oswald
    text-transform: uppercase
    color: #5b5b5c
    font-size: 26px
    text-align: center

    img
      max-width: 80%

    &:first-of-type
      line-height: 126px

.page-sobre
  padding-top: 60px


  .wrap-parceiros
    padding: 20px 0px
    background: #6e0609
    margin-top: 50px

    ul
      li
        float: left
        width: 20%
        font-family: $oswald
        text-transform: uppercase
        color: white
        font-size: 26px
        text-align: center

        img
          max-width: 80%
        &:first-of-type
          line-height: 75px

  .all-btn
    background: #a72125
    padding: 20px
    +box-sizing(border-box)
    width: 25%
    display: block
    margin: 20px auto
    text-align: center
    color: white
    font-family: $oswald
    font-size: 18px
    +transition(0.3s ease-out)

    &:hover
      background: darken(#a72125, 10%)

  h3
    font-size: 30px
    font-family: $oswald
    color: #a72125
    text-align: center

    &:after
      content: ''
      height: 1px
      width: 10%
      margin: 20px auto
      background: #a72125
      display: block


  .frase
    padding: 20px 0px
    width: 100%
    background: url('../img/faixa-bg.jpg') no-repeat
    background-size: cover
    background-attachment: fixed
    +box-sizing(border-box)
    margin: 60px 0px

    h2
      font-size: 25px
      color: white
      font-family: $oswald
      text-transform: uppercase
      text-align: center
      width: 60%
      display: block
      line-height: 1.5
      margin: 30px auto


    h4
      color: white
      text-align: center
      font-weight: 300
      margin-bottom: 30px

  .title
    position: absolute
    left: 0
    height: 49px
    width: 50%
    background: url('../img/vermelho-bg.png') right no-repeat


  .text
    width: 48%
    float: left
    h1
      line-height: 49px
      color: white
      font-family: $oswald
      text-transform: uppercase
      font-size: 25px

    p
      margin: 10px 0px
      line-height: 1.6
      color: #575757
      font-size: 15px

  .img
    width: 48%
    float: right
    img
      width: 100%

+media-query(med)
  ul.clientes
    li
      float: none
      margin: 0px auto
      width: 30%

      &:first-of-type
        line-height: 66px

  .page-sobre
    .title
      width: 95%

    .text
      width: 78%
      float: left
      margin: 0px 11% 40px 11%

    .img
      float: none
      width: 78%
      margin: 0px auto

    .wrap-parceiros
      ul
        li
          line-height: 75px
          float: none
          margin: 7px auto

+media-query(small)
  .page-sobre
    .all-btn
      width: 40%

    .wrap-parceiros
      ul
        li
          width: 25%


+media-query(supersmall)
  ul.clientes
    li
      width: 45%

  .page-sobre
    .frase
      h2
        width: 90%

    .all-btn
      width: 75%

    .wrap-parceiros
      ul
        li
          width: 40%
